<% include ../layoutTop %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    	<section>
            <div>
        		<form action="/admin/brandedit/<%= brand.id %>" method="post">
    	     		<h3>Edit <%= brand.name %>:</h3><br><br>
                    Website:<br><input type="text" name="website" value="<%= brand.website %>" class="width45"><br><br><br>
                    Bio: <textarea class="markItUp" type="text" name="bio" value="<%= brand.bio %>"><%= brand.bio %></textarea><br><br>
                    <input type="submit" value="Submit" class="button">
                </form>
            </div>
        </section>
    </div>
</div>

<% include ../layoutBottom %>