<%- include('../layoutTop'); %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    	<section>
    		<div>
                <% if (typeof message !== "undefined") { %>
                    <center><b><%= message %></b><br><br><br><br></center>
                <% } %>
                <% if (typeof polishes !== "undefined") { %>
                    <% for (i=0; i<polishes.length; i++) { %>
                        <a href="/polishid/<%=polishes[i].id%>"><%=polishes[i].name%></a> - <%=polishes[i].brand%> - <%=polishes[i].id%>- <%=polishes[i].code%> - <%=polishes[i].colorcat%> - <%=polishes[i].type%> - <%=polishes[i].batch%> - <%=polishes[i].dupes%> - <%=polishes[i].swatch%> - <a href="/polishid/<%=polishes[i].id%>/delete">delete!</a>
                        <br><br>
                    <% } %>
                    <br><br>
                <% } %>
	     		<h3>Combine Polishes:</h3><br>
                <form action="/admin/combine" method="post">
                    Id to Keep: <input name="keepid" class="width50"><br><br>
                    Id to Remove: <input name="removeid" class="width50" required><br><br>
                    <input type="submit" value="Submit" class="button">
                </form>
            </div>
    	</section>
    </div>
</div>

<%- include('../layoutBottom'); %>