<%- include('../layoutTop'); %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    	<section>
    		<div>
	     		<br><h3>Fresh Coats Pending Delete:</h3><br>
                <% for (i=0; i < flaggedcheckins.length; i++) { %>
                    <br><br><br><img class="polishphotosmall" src="<%= flaggedcheckins[i].photo %>"><br>
                    Reason: <%=flaggedcheckins[i].flaggedcheckins%><br>
                    <a href="/freshcoats/<%= flaggedcheckins[i].id %>/remove">Delete Fresh Coat</a> | <a href="/admin/flaggedcheckins/<%= flaggedcheckins[i].id %>/restore">Restore Fresh Coat</a>
                <% } %>
            </div>
    	</section>
    </div>
</div>

<%- include('../layoutBottom'); %>