<%- include('../layoutTop'); %>

<script src="/scripts/sorttable.js"></script>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
        <table class="sortable">
            <tr><th style="width:5%">#</th><th style="overflow:hidden">Username</th><th style="overflow:hidden">E-mail</th><th style="overflow:hidden">Created</th><th style="overflow:hidden">Last Login</th><th style="width:8%; overflow:hidden">Validated</th><th style="width:8%; overflow:hidden">User Level</th></tr>
            <% for (i=0; i < allusers.length; i++) { %>
                <tr>
                    <td><%=allusers[i].usernumber%></td>
                    <td><a href="/profile/<%= allusers[i].username %>"><%= allusers[i].username %></a></td>
                    <td style="overflow:hidden"><%=allusers[i].email%></td>
                    <td style="overflow:hidden"><%= moment(allusers[i].creationdate).tz("America/New_York").calendar() %></td>
                    <td style="overflow:hidden"><%= moment(allusers[i].lastlogindate).tz("America/New_York").calendar() %></td>
                    <td style="overflow:hidden"><%= allusers[i].isvalidated %></td>
                    <td style="overflow:hidden"><%= allusers[i].level %></td>
                </tr>
            <% } %>
        </table>
    </section>
    </div>
</div>

<%- include('../layoutBottom'); %>