<%- include('../layoutTop'); %>

<script src="/scripts/sorttable.js"></script>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
        <table class="sortable">
            <tr><th style="overflow:hidden; width:10%">#</th><th style="overflow:hidden; width:25%">Username</th><th style="overflow:hidden; width:10%">E-mail</th><th style="overflow:hidden; width:15%">Source</th><th style="overflow:hidden; width:10%">Created</th><th style="overflow:hidden; width:20%">Last Login</th><th style="overflow:hidden; width:10%">Validated</th><th style="overflow:hidden; width:5%">User Level</th></tr>
            <% for (i=0; i < allusers.length; i++) { %>
                <tr>
                    <td style="overflow:hidden"><%=allusers[i].usernumber%></td>
                    <td style="overflow:hidden"><a href="/profile/<%= allusers[i].username %>"><%= allusers[i].username %></a></td>
                    <td style="overflow:hidden"><%=allusers[i].email%></td>
                    <td style="overflow:hidden"><%=allusers[i].source%></td>
                    <td style="overflow:hidden"><%= moment(allusers[i].creationdate).tz("America/New_York").format('MM/DD/YYYY') %></td>
                    <td style="overflow:hidden">
                        <% if (moment(allusers[i].lastlogindate).add(1, 'days').toDate() > moment().toDate()) {%>
                            <mark style="background-color:#FFFF00"><%= moment(allusers[i].lastlogindate).tz("America/New_York").calendar() %></mark>
                        <% } else if (moment(allusers[i].lastlogindate).add(3, 'days').toDate() > moment().toDate()) {%>
                            <mark style="background-color:#9ED9CF"><%= moment(allusers[i].lastlogindate).tz("America/New_York").calendar() %></mark>
                        <% } else { %>
                            <%= moment(allusers[i].lastlogindate).tz("America/New_York").calendar() %>
                        <% } %>
                    </td>
                    <td style="overflow:hidden"><%= allusers[i].isvalidated %></td>
                    <td style="overflow:hidden"><%= allusers[i].level %></td>
                </tr>
            <% } %>
        </table>
    </section>
    </div>
</div>

<%- include('../layoutBottom'); %>