<%- include('../layoutTop'); %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
        <form action="/forums/<%= postforum %>/<%= postid %>/edit" method="post">
            <h3>Edit your post:</h3><br><br>
                Forum:<br><select name="forum" required>
                    <option value="general" <% if (postforum === "general") { %> selected="selected" <%}%>>General Polish Discussion</option>
                    <option value="intro" <% if (postforum === "intro") { %> selected="selected" <%}%>>Introductions</option>
                    <option value="offtopic" <% if (postforum === "offtopic") { %> selected="selected" <%}%>>Off Topic</option>
                    <option value="lt" <% if (postforum === "lt") { %> selected="selected" <%}%>>Lacquer Tracker Feedback/Suggestions</option>
                    </select><br><br>
                Title:<br><input type="text" name="posttitle" class="width53" value="<%=posttitle%>" required><br><br><br>
                Post:<br><textarea type="text" class="markItUp" name="postmessage" required><%=postmessage%></textarea><br><br>
                <img src=<%=postphoto%>><br><br>
                <input type="submit" value="Submit" class="button">
        </form>
    </section>
    </div>
</div>

<%- include('../layoutBottom'); %>