<%- include('../layoutTop'); %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
        <div>
            <h2 align="center">Forums</h2><br>
            <ul class="forumlist">
                <li><a href="/forums/general/"><b>General Polish Discussion</b></a> - Any discussion related to polish is welcome here.<br><span class="smallfont"><i><%=latest[0]%></i></span></li><br><br><br>

                <li><a href="/forums/intro/"><b>Introductory Posts</b></a> - New to Lacquer Tracker? Introduce yourself here.<br><span class="smallfont"><i><%=latest[1]%></i></span></li><br><br><br>

                <li><a href="/forums/offtopic/"><b>Off Topic</b></a> - Anything goes here!<br><span class="smallfont"><i><%=latest[2]%></i></span></li><br><br><br>

                <li><a href="/forums/lt/"><b>Feedback/Suggestions</b></a> - Let's talk Lacquer Tracker.<br><span class="smallfont"><i><%=latest[3]%></i></span></li>
            </ul>
        </div>
    </section>
    </div>
</div>

<%- include('../layoutBottom'); %>