<%- include('../layoutTop'); %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
        <a href="/forums/">&#8592; Back to Forums</a>
        <center><h3>
            <% if (forumcat === "intro") { %>
                Introductions</h3><br>New to Lacquer Tracker? Tell us about yourself!<%}%>
            <% if (forumcat === "general") { %>
                General Polish Dicussion</h3><br>Any discussion related to polish is welcome here.<%}%>
            <% if (forumcat === "notd") { %>
                Nails of the Day</h3><br>Post a photo of what you're wearing today. Be sure to include the colors you used!<%}%>
            <% if (forumcat === "contests") { %>
                Contests and Giveaways</h3><br>Spread the polish love by hosting a contest or giveaway.<%}%>
            <% if (forumcat === "tutorials") { %>
                Tutorials</h3><br>Post nail art tutorials or link to great ones you've found elsewhere.<%}%>
            <% if (forumcat === "offtopic") { %>
                Off Topic Discussion</h3><br>Anything goes here!<%}%>
            <% if (forumcat === "lt") { %>
                Feedback/Suggestions</h3><br>Let's talk Lacquer Tracker.<%}%>
        <br><br><a href="/forums/<%= forumcat %>/add">Add a post</a><br><br><br><br>
        <table class="forumtable">
            <col width="35%">
            <col width="20%">
            <col width="20%">
            <col width="25%">
            <tr><th><span>Post Title</span></th><th><span>Started By</span></th><th><span>Comments</span></th><th><span>Last Updated</span></th></tr>
            <% for (i=0; i<forumposts.length; i++) { %>
                <tr><td><a href="/forums/<%= forumcat %>/<%= forumposts[i].id %>"><span><%= forumposts[i].title %></span></a></td>
                <td><a href='/profile/<%= forumposts[i].user.username %>'><span><%= forumposts[i].user.username %></span></a></td>
                <td><% if (forumposts[i].comments.length === 1) {%><span><%= forumposts[i].comments.length %> Reply</span><%} else {%><span><%= forumposts[i].comments.length %> Replies</span><%}%></td>
                <td><span><%= forumposts[i].dateupdated %></span></td></tr>
            <% } %>
        </table>
        </center>
    </section>
    </div>
</div>

<script>
$(function() {
    $('td span').each(function() {
        var fontSize = 100;
        while (this.scrollWidth > $(this).width() && fontSize > 0) {
            // adjust the font-size 5% at a time
            fontSize -= 5;
            $(this).css('font-size', fontSize + '%');
        }
    });
});
</script>

<%- include('../layoutBottom'); %>