<%- include('../layoutTop'); %>

<script type="text/javascript">
function confirm_alert(node) {
    return confirm("Are you sure you want to permanently delete this?");
}
</script>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
        <div class="forumpost">
        <a href="/forums/<%= postforum %>">&#8592; Back to Forum</a><br><br>
        <h2><%= posttitle %></h2><br>
            <i>Posted by <a href="/profile/<%= postuser.username%>"><%= postuser.username %></a> on <%= postdate %></i><% if (isAuthenticated) { %>
                    <% if (user.username === postuser.username || user.level === "admin") { %>
                        : <a href="/forums/<%=postforum%>/<%=postid%>/edit">Edit</a> | <a href="/forums/<%=postforum%>/<%=postid%>/remove" onclick="return confirm_alert(this);">Delete</a>
                    <% } %>
                <% } %><br><br><br>
            <p style="white-space: pre;"><%- postmessage %></p><br><br><hr><br><br>
            <b>Comments (<%= postcomments.length %>)</b> | <a href="/forums/<%= postforum %>/<%= postid %>/add">Add a comment</a><br><br>


            <% for (i=0; i<postcomments.length; i++) { %>
            <% if (postcomments[i].parentid === postcomments[i].postid) { %>
                <hr style="border-top: dotted 3px; color: #D8D8D8;" />
                <br>
                <div>
                    <%if (postcomments[i].user.profilephoto.length > 0) {%><img class="profilephotocomment" src="<%= postcomments[i].user.profilephoto %>">&nbsp;<%}%>
                    <b><a href="/profile/<%= postcomments[i].user.username %>"><% if (postuser.username === postcomments[i].user.username) {%><p style="display:inline; background-color:#9ED9CF;"><%}%><%= postcomments[i].user.username %><% if (postuser.username === postcomments[i].user.username) {%></p><%}%></a></b>&nbsp;&nbsp;<font color="#6E6B69"><%= postcomments[i].date %>:</font>
                    <% if (isAuthenticated) { %>
                        <% if (user.username === postcomments[i].user.username || user.level === "admin") { %>
                            <a href="/forums/<%= postforum %>/<%= postid %>/<%= postcomments[i].id %>/remove" onclick="return confirm_alert(this);">Delete</a>
                        <% } %>
                    <% } %>
                    <br>
                    <div>
                        <p style="white-space: pre; padding-left: 3em"><%- postcomments[i].message %></p>
                        <% if (isAuthenticated) { %>
                            <div class="replylink"><a href="#">Reply</a></div>
                            <div class="replybox"><br><form action="/forums/<%= postforum %>/<%= postid %>/<%= postcomments[i].id %>/add" method="post">
                                <textarea name="message" placeholder="Reply here." class="width40" rows="5" required autofocus></textarea><br><br>
                                <input type="submit" value="Submit" class="button">
                            </form></div>
                        <% } else { %>
                            <div><a href="/forums/<%= postforum %>/<%= postid %>/addreply">Reply</a></div>
                        <% } %>
                    </div>
                </div>
                <br>


                    <% for (j=0; j<postcomments.length; j++) { %>
                    <% if (postcomments[j].parentid === postcomments[i].id) { %>
                        <br>
                        <div class="replycomment" style="margin-left:4%"><div style="padding-left:1%"><br>
                            <%if (postcomments[j].user.profilephoto.length > 0) {%><img class="profilephotocomment" src="<%= postcomments[j].user.profilephoto %>">&nbsp;<%}%>
                            <b><a href="/profile/<%= postcomments[j].user.username %>"><% if (postuser.username === postcomments[j].user.username) {%><p style="display:inline; background-color:#9ED9CF;"><%}%><%= postcomments[j].user.username %><% if (postuser.username === postcomments[j].user.username) {%></p><%}%></a></b>&nbsp;&nbsp;<font color="#6E6B69"><%= postcomments[j].date %>:</font>
                            <% if (isAuthenticated) { %>
                                <% if (user.username === postcomments[j].user.username || user.level === "admin") { %>
                                    <a href="/forums/<%= postforum %>/<%= postid %>/<%= postcomments[j].id %>/remove" onclick="return confirm_alert(this);">Delete</a>
                                <% } %>
                            <% } %>
                            <br>
                            <div>
                                <p style="white-space: pre; padding-left: 3em"><%- postcomments[j].message %></p>
                                <% if (isAuthenticated) { %>
                                    <div class="replylink"><a href="#">Reply</a></div>
                                    <div class="replybox"><br><form action="/forums/<%= postforum %>/<%= postid %>/<%= postcomments[j].id %>/add" method="post">
                                        <textarea name="message" placeholder="Reply here." class="width40" rows="5" required></textarea><br><br>
                                        <input type="submit" value="Submit" class="button">
                                    </form></div>
                                <% } else { %>
                                    <div><a href="/forums/<%= postforum %>/<%= postid %>/addreply">Reply</a></div>
                                <% } %>
                            </div>
                            <br></div></div><br>


                                <% for (k=0; k<postcomments.length; k++) { %>
                                <% if (postcomments[k].parentid === postcomments[j].id) { %>
                                    <br><div style="padding-left:10%">
                                    <%if (postcomments[k].user.profilephoto.length > 0) {%><img class="profilephotocomment" src="<%= postcomments[k].user.profilephoto %>">&nbsp;<%}%>
                                    <b><a href="/profile/<%= postcomments[k].user.username %>"><% if (postuser.username === postcomments[k].user.username) {%><p style="display:inline; background-color:#9ED9CF;"><%}%><%= postcomments[k].user.username %><% if (postuser.username === postcomments[k].user.username) {%></p><%}%></a></b>&nbsp;&nbsp;<font color="#6E6B69"><%= postcomments[k].date %>:</font>
                                    <% if (isAuthenticated) { %>
                                        <% if (user.username === postcomments[k].user.username || user.level === "admin") { %>
                                            <a href="/forums/<%= postforum %>/<%= postid %>/<%= postcomments[k].id %>/remove" onclick="return confirm_alert(this);">Delete</a>
                                        <% } %>
                                    <% } %>
                                <br>
                                <div>
                                    <p style="white-space: pre; padding-left: 3em"><%- postcomments[k].message %></p>
                                    <% if (isAuthenticated) { %>
                                        <div class="replylink"><a href="#">Reply</a></div>
                                        <div class="replybox"><br><form action="/forums/<%= postforum %>/<%= postid %>/<%= postcomments[k].id %>/add" method="post">
                                            <textarea name="message" placeholder="Reply here." class="width40" rows="5" required></textarea><br><br>
                                            <input type="submit" value="Submit" class="button">
                                        </form></div>
                                    <% } else { %>
                                        <div><a href="/forums/<%= postforum %>/<%= postid %>/addreply">Reply</a></div>
                                    <% } %>
                                </div>
                                </div><br>


                                    <% for (l=0; l<postcomments.length; l++) { %>
                                    <% if (postcomments[l].parentid === postcomments[k].id) { %>
                                        <br><div class="replycomment" style="margin-left:14%"><div style="padding-left:1%"><br>
                                            <%if (postcomments[l].user.profilephoto.length > 0) {%><img class="profilephotocomment" src="<%= postcomments[l].user.profilephoto %>">&nbsp;<%}%>
                                            <b><a href="/profile/<%= postcomments[l].user.username %>"><% if (postuser.username === postcomments[l].user.username) {%><p style="display:inline; background-color:#9ED9CF;"><%}%><%= postcomments[l].user.username %><% if (postuser.username === postcomments[l].user.username) {%></p><%}%></a></b>&nbsp;&nbsp;<font color="#6E6B69"><%= postcomments[l].date %>:</font>
                                            <% if (isAuthenticated) { %>
                                                <% if (user.username === postcomments[l].user.username || user.level === "admin") { %>
                                                    <a href="/forums/<%= postforum %>/<%= postid %>/<%= postcomments[l].id %>/remove" onclick="return confirm_alert(this);">Delete</a>
                                                <% } %>
                                            <% } %>
                                    <br>
                                    <div>
                                        <p style="white-space: pre; padding-left: 3em"><%- postcomments[l].message %></p>
                                        <% if (isAuthenticated) { %>
                                            <div class="replylink"><a href="#">Reply</a></div>
                                            <div class="replybox"><br><form action="/forums/<%= postforum %>/<%= postid %>/<%= postcomments[l].id %>/add" method="post">
                                                <textarea name="message" placeholder="Reply here." class="width40" rows="5" required></textarea><br><br>
                                                <input type="submit" value="Submit" class="button">
                                            </form></div>
                                        <% } else { %>
                                            <div><a href="/forums/<%= postforum %>/<%= postid %>/addreply">Reply</a></div>
                                        <% } %>
                                    </div>
                                    <br></div></div><br>


                                        <% for (m=0; m<postcomments.length; m++) { %>
                                        <% if (postcomments[m].parentid === postcomments[l].id) { %>
                                            <br><div style="padding-left:20%">
                                            <%if (postcomments[m].user.profilephoto.length > 0) {%><img class="profilephotocomment" src="<%= postcomments[m].user.profilephoto %>">&nbsp;<%}%>
                                            <b><a href="/profile/<%= postcomments[m].user.username %>"><% if (postuser.username === postcomments[m].user.username) {%><p style="display:inline; background-color:#9ED9CF;"><%}%><%= postcomments[m].user.username %><% if (postuser.username === postcomments[m].user.username) {%></p><%}%></a></b>&nbsp;&nbsp;<font color="#6E6B69"><%= postcomments[m].date %>:</font>
                                            <% if (isAuthenticated) { %>
                                                <% if (user.username === postcomments[m].user.username || user.level === "admin") { %>
                                                    <a href="/forums/<%= postforum %>/<%= postid %>/<%= postcomments[m].id %>/remove" onclick="return confirm_alert(this);">Delete</a>
                                                <% } %>
                                            <% } %>
                                        <br>
                                        <div>
                                            <p style="white-space: pre; padding-left: 3em"><%- postcomments[m].message %></p>
                                            <% if (isAuthenticated) { %>
                                                <div class="replylink"><a href="#">Reply</a></div>
                                                <div class="replybox"><br><form action="/forums/<%= postforum %>/<%= postid %>/<%= postcomments[m].id %>/add" method="post">
                                                    <textarea name="message" placeholder="Reply here." class="width40" rows="5" required></textarea><br><br>
                                                    <input type="submit" value="Submit" class="button">
                                                </form></div>
                                            <% } else { %>
                                                <div><a href="/forums/<%= postforum %>/<%= postid %>/addreply">Reply</a></div>
                                            <% } %>
                                        </div>
                                        </div><br>


                                            <% for (n=0; n<postcomments.length; n++) { %>
                                            <% if (postcomments[n].parentid === postcomments[m].id) { %>
                                                <br><div class="replycomment" style="margin-left:24%"><div style="padding-left:1%"><br>
                                                    <%if (postcomments[n].user.profilephoto.length > 0) {%><img class="profilephotocomment" src="<%= postcomments[n].user.profilephoto %>">&nbsp;<%}%>
                                                    <b><a href="/profile/<%= postcomments[n].user.username %>"><% if (postuser.username === postcomments[n].user.username) {%><p style="display:inline; background-color:#9ED9CF;"><%}%><%= postcomments[n].user.username %><% if (postuser.username === postcomments[n].user.username) {%></p><%}%></a></b>&nbsp;&nbsp;<font color="#6E6B69"><%= postcomments[n].date %>:</font>
                                                    <% if (isAuthenticated) { %>
                                                        <% if (user.username === postcomments[n].user.username || user.level === "admin") { %>
                                                            <a href="/forums/<%= postforum %>/<%= postid %>/<%= postcomments[n].id %>/remove" onclick="return confirm_alert(this);">Delete</a>
                                                        <% } %>
                                                    <% } %>
                                            <br>
                                            <div>
                                                <p style="white-space: pre; padding-left: 3em"><%- postcomments[n].message %></p>
                                                <% if (isAuthenticated) { %>
                                                    <div class="replylink"><a href="#">Reply</a></div>
                                                    <div class="replybox"><br><form action="/forums/<%= postforum %>/<%= postid %>/<%= postcomments[n].id %>/add" method="post">
                                                        <textarea name="message" placeholder="Reply here." class="width40" rows="5" required></textarea><br><br>
                                                        <input type="submit" value="Submit" class="button">
                                                    </form></div>
                                                <% } else { %>
                                                    <div><a href="/forums/<%= postforum %>/<%= postid %>/addreply">Reply</a></div>
                                                <% } %>
                                            </div>
                                            <br></div></div><br>


                                                <% for (o=0; o<postcomments.length; o++) { %>
                                                <% if (postcomments[o].parentid === postcomments[n].id) { %>
                                                    <br><div style="padding-left:30%">
                                                    <%if (postcomments[o].user.profilephoto.length > 0) {%><img class="profilephotocomment" src="<%= postcomments[o].user.profilephoto %>">&nbsp;<%}%>
                                                    <b><a href="/profile/<%= postcomments[o].user.username %>"><% if (postuser.username === postcomments[o].user.username) {%><p style="display:inline; background-color:#9ED9CF;"><%}%><%= postcomments[o].user.username %><% if (postuser.username === postcomments[o].user.username) {%></p><%}%></a></b>&nbsp;&nbsp;<font color="#6E6B69"><%= postcomments[o].date %>:</font>
                                                    <% if (isAuthenticated) { %>
                                                        <% if (user.username === postcomments[o].user.username || user.level === "admin") { %>
                                                            <a href="/forums/<%= postforum %>/<%= postid %>/<%= postcomments[o].id %>/remove" onclick="return confirm_alert(this);">Delete</a>
                                                        <% } %>
                                                    <% } %>
                                                <br>
                                                <div>
                                                    <p style="white-space: pre; padding-left: 3em"><%- postcomments[o].message %></p>
                                                    <% if (isAuthenticated) { %>
                                                        <div class="replylink"><a href="#">Reply</a></div>
                                                        <div class="replybox"><br><form action="/forums/<%= postforum %>/<%= postid %>/<%= postcomments[o].id %>/add" method="post">
                                                            <textarea name="message" placeholder="Reply here." class="width40" rows="5" required></textarea><br><br>
                                                            <input type="submit" value="Submit" class="button">
                                                        </form></div>
                                                    <% } else { %>
                                                        <div><a href="/forums/<%= postforum %>/<%= postid %>/addreply">Reply</a></div>
                                                    <% } %>
                                                </div>
                                                </div><br>


                                                    <% for (p=0; p<postcomments.length; p++) { %>
                                                    <% if (postcomments[p].parentid === postcomments[o].id) { %>
                                                        <br><div class="replycomment" style="margin-left:34%"><div style="padding-left:1%"><br>
                                                            <%if (postcomments[p].user.profilephoto.length > 0) {%><img class="profilephotocomment" src="<%= postcomments[p].user.profilephoto %>">&nbsp;<%}%>
                                                            <b><a href="/profile/<%= postcomments[p].user.username %>"><% if (postuser.username === postcomments[p].user.username) {%><p style="display:inline; background-color:#9ED9CF;"><%}%><%= postcomments[p].user.username %><% if (postuser.username === postcomments[p].user.username) {%></p><%}%></a></b>&nbsp;&nbsp;<font color="#6E6B69"><%= postcomments[p].date %>:</font>
                                                            <% if (isAuthenticated) { %>
                                                                <% if (user.username === postcomments[p].user.username || user.level === "admin") { %>
                                                                    <a href="/forums/<%= postforum %>/<%= postid %>/<%= postcomments[p].id %>/remove" onclick="return confirm_alert(this);">Delete</a>
                                                                <% } %>
                                                            <% } %>
                                                    <br>
                                                    <div>
                                                        <p style="white-space: pre; padding-left: 3em"><%- postcomments[p].message %></p>
                                                        <% if (isAuthenticated) { %>
                                                            <div class="replylink"><a href="#">Reply</a></div>
                                                            <div class="replybox"><br><form action="/forums/<%= postforum %>/<%= postid %>/<%= postcomments[p].id %>/add" method="post">
                                                                <textarea name="message" placeholder="Reply here." class="width40" rows="5" required></textarea><br><br>
                                                                <input type="submit" value="Submit" class="button">
                                                            </form></div>
                                                        <% } else { %>
                                                            <div><a href="/forums/<%= postforum %>/<%= postid %>/addreply">Reply</a></div>
                                                        <% } %>
                                                    </div>
                                                    <br></div></div><br>


                                                        <% for (q=0; q<postcomments.length; q++) { %>
                                                        <% if (postcomments[q].parentid === postcomments[p].id) { %>
                                                            <br><div style="padding-left:30%">
                                                            <%if (postcomments[q].user.profilephoto.length > 0) {%><img class="profilephotocomment" src="<%= postcomments[q].user.profilephoto %>">&nbsp;<%}%>
                                                            <b><a href="/profile/<%= postcomments[q].user.username %>"><% if (postuser.username === postcomments[q].user.username) {%><p style="display:inline; background-color:#9ED9CF;"><%}%><%= postcomments[q].user.username %><% if (postuser.username === postcomments[q].user.username) {%></p><%}%></a></b>&nbsp;&nbsp;<font color="#6E6B69"><%= postcomments[q].date %>:</font>
                                                            <% if (isAuthenticated) { %>
                                                                <% if (user.username === postcomments[q].user.username || user.level === "admin") { %>
                                                                    <a href="/forums/<%= postforum %>/<%= postid %>/<%= postcomments[q].id %>/remove" onclick="return confirm_alert(this);">Delete</a>
                                                                <% } %>
                                                            <% } %>
                                                        <br>
                                                        <div>
                                                            <p style="white-space: pre; padding-left: 3em"><%- postcomments[q].message %></p></div>
                                                        </div><br>



                                                        <% } %>
                                                        <% } %>
                                                    <% } %>
                                                    <% } %>
                                                <% } %>
                                                <% } %>
                                            <% } %>
                                            <% } %>
                                        <% } %>
                                        <% } %>
                                    <% } %>
                                    <% } %>
                                <% } %>
                                <% } %>
                            <% } %>
                            <% } %>
                <% } %>
            <% } %>
            <br><hr><br><br>
            <% if (isAuthenticated) { %>
                <b><a name="addcomment"><font color="#000000">Add a Comment:</font></b><br><br>
                <a target="blank" href="/photo/upload">Upload a photo?</a><br><br>
                <form action="/forums/<%= postforum %>/<%= postid %>/<%= postid %>/add" method="post">
                    <textarea class="markItUp" name="message" cols="100" rows="10" required></textarea><br><br>
                    <input type="submit" value="Submit" class="button">
                </form>
            <% } %>
        </div>
    </section>
    </div>
</div>

<script>
$(".replylink").click(function(){
    $(this).siblings(".replybox").show();
    return false;
});
</script>

<%- include('../layoutBottom'); %>