<%- include('../layoutTop'); %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
        <div>
            <% if (typeof message !== "undefined") { %>
                <center><b><%= message %></b><br><br><br><br></center>
            <% } %>
            <form action="/reset/<%= key %>" method="post">
                <h3>Enter a new password below:</h3><br>
                Username:<br><input type="text" name="username" value="<%= username %>" class="width50" disabled><br><br><br>
                Password:<br><input type="password" name="password" class="width50" autofocus><br><br><br>
                Confirm password:<br><input type="password" name="passwordconfirm" class="width50"><br><br><br>
                <input type="submit" value="Submit" class="button" id="login-button">
            </form>
        </div>
    </section>
    </div>
</div>

<script>
$("form").submit(function() {
    var _txt1 = $('[name=password]').val();
    var _txt2 = $('[name=passwordconfirm]').val();

    if (_txt1 == _txt2) {
        return true;
    } else {
        alert('Passwords do not match.');
        return false;
    }
});
</script>

<%- include('../layoutBottom'); %>