<%- include('../layoutTop'); %>

<script type= "text/javascript">
var RecaptchaOptions = {
theme: 'custom',
lang: 'en',
custom_theme_widget: 'recaptcha_widget'
};
</script>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
        <div>
            <% if (typeof message !== "undefined") { %>
                <center><b><%= message %></b><br><br><br><br></center>
            <% } %>
            <form action="/signup" method="post">
                <h3>Fill out the information below to get started.</h3><br><br>
                E-mail address:<br><input type="email" name="email" class="width45" required value="<%=email%>" placeholder="A validation message will be sent." autofocus><br><br><br>
                Username:<br><input type="text" name="username" class="width45" required value="<%=username%>" placeholder="Only use letters and numbers. No spaces or special characters allowed."><br><br><br>
                Password:<br><input type="password" name="password" class="width45" required><br><br><br>
                Confirm Password:<br><input type="password" class="width45" name="confirm" required><br><br><br><br>
                <div class="g-recaptcha" data-sitekey="6LcxIzgUAAAAADxJGbb-7gsJwj5oGxoZWbBaJZlC"></div><br><br><br><br><br>
                <input type="submit" value="Submit" class="button" id="login-button">
            </form>
        </div>
    </section>
    </div>
</div>

<%- include('../layoutBottom'); %>