<%- include('../layoutTop'); %>

<script src='https://www.google.com/recaptcha/api.js'></script>

<script type= "text/javascript">
    var RecaptchaOptions = {
        theme: 'custom',
        lang: 'en',
        custom_theme_widget: 'recaptcha_widget'
    };
</script>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
        <div>
            <% if (typeof message !== "undefined") { %>
                <center><b><%= message %></b><br><br><br><br></center>
            <% } %>
            <h3>Send message to <%= username %>:</h3><br><i>Be sure to include a reply e-mail if you need a response.</i><br><br><br><br>
            <form action="/email/<%=username%>" method="post">
                <textarea autofocus rows="10" class="width50" type="text" name="emailmessage" required <%if (typeof emailmessage !== "undefined") {%>value="<%=emailmessage%>" <%}%>><%if (typeof emailmessage !== "undefined") {%><%=emailmessage%><%}%></textarea><br><br><br>
                <div class="g-recaptcha" data-sitekey="6LcSeegUAAAAACSmq6y9_hXYCgEXdGknDqg99b__"></div><br><br><br><br><br>
                <input type="submit" value="Submit" class="button">
            </form>
        </div>
    </section>
    </div>
</div>

<%- include('../layoutBottom'); %>