<%- include('../layoutTop'); %>

<script src="/scripts/collageplus.js"></script>

<script>
$(window).load(function () {
    $('.collage').collagePlus({
        'targetHeight' : 250,
        'allowPartialLastRow' : true,
    });
});
</script>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
        <div>
            <% if (profilephoto.length > 0) { %>
                <img class="profilephoto" src="<%= profilephoto %>">
            <% } %>
        </div>
        <div id="biglayout">
            <h2 style="display:inline-block"><%= username %>'s Profile</h2>
            <% if (isAuthenticated) { %>
                <% if (user.username === username) { %>
                    - <a href="/profile/<%= username %>/edit">Edit your profile</a> | <a href="/import">Import owned polish</a>
                <% } else if (useremail === "on") {%>
                    - <a href="/profile/<%= username %>/message">Send a message</a>
                <% } %>
            <% } %>
            <br><br><p style="white-space: pre; padding-left: 3em"><%- about %></p><br><br><br>
        </div>
        <div id="smalllayout">
            <h3 style="display:inline-block"><%= username %>'s Profile</h3>
            <% if (isAuthenticated) { %>
                <% if (user.username === username) { %>
                    <br><br><a href="/profile/<%= username %>/edit">Edit your profile</a>
                    <br><br><a href="/import">Import owned polish</a>
                <% } else if (useremail === "on") {%>
                    <br><br><a href="/profile/<%= username %>/message">Send a message</a>
                <% } %>
            <% } %>
            <br><br><br><p style="white-space: pre; padding-left: 3em"><%- about %></p>
        </div>
        <div>
            <% if (opolishes.length > 0) { %>
                <br><br><h4><%= username %>'s Owned Polishes (<%= opolishes.length %>):</h4><br>
                <table id="ownedpolish" class="ownedtable">
                    <tr><th class="name"><span>Name</span></th><th class="brand"><span>Brand</span></th><th class="collection"><span>Collection</span></th><th class="swatch"><span>Swatch</span></th><th class="type"><span>Type</span></th><th class="rating"><span><%= username %>'s Rating</span></th></tr>
                <% for(var i=0; i<opolishes.length; i++) {%>
                    <tr><td><a id='tablelink' href='/polish/<%= opolishes[i].brand.replace(/ /g,"_") %>/<%= opolishes[i].name.replace(/ /g,"_") %>'><span><%= opolishes[i].name %></span></a></td>
                    <td><a id='tablelink' href='/brand/<%= opolishes[i].brand.replace(/ /g,"_") %>'><span><%= opolishes[i].brand %></span></a></td>
                    <td><span><%= opolishes[i].batch %></span></td>
                    <td class="tableswatch"><% if (opolishes[i].swatch.length > 0) {%>
                            <img src="<%=opolishes[i].swatch%>" alt="Nail polish swatch in shade <%= opolishes[i].brand %> - <%= opolishes[i].name %>">
                        <%} else {%>
                            <img src="/images/swatches/noswatch.jpg" alt="">
                        <%}%>
                    </td>
                    <td>
                        <span><%= opolishes[i].type.toString().replace(/,/g,", ") %></span>
                    </td>
                    <td>
                        <% if (typeof oreviews[i] !== "undefined" && oreviews[i].rating > 0) { %>
                            <div id="biglayout">
                                <span style="display:none;"><%=oreviews[i].rating%></span><img class="starrating" src="/images/stars/<%=oreviews[i].rating%>star.png"alt="">
                            </div>
                            <div id="smalllayout">
                                <span><%=oreviews[i].rating%></span>
                            </div>
                        <% } %>
                    </td></tr>
                <% } %>
                </table>
            <% } %>

            <% if (wpolishes.length > 0) { %>
                <br><br><h4><%= username %>'s Wanted Polishes (<%= wpolishes.length %>):</h4><br>
                    <table id="wantedpolish" class="wantedtable">
                        <tr><th class="name"><span>Name</span></th><th class="brand"><span>Brand</span></th><th class="collection"><span>Collection</span></th><th class="swatch"><span>Swatch</span></th><th class="type"><span>Type</span></th></tr>
                    <% for(var i=0; i<wpolishes.length; i++) {%>
                        <tr><td><a id='tablelink' href='/polish/<%= wpolishes[i].brand.replace(/ /g,"_") %>/<%= wpolishes[i].name.replace(/ /g,"_") %>'><span><%= wpolishes[i].name %></span></a></td>
                        <td><a id='tablelink' href='/brand/<%= wpolishes[i].brand.replace(/ /g,"_") %>'><span><%= wpolishes[i].brand %></span></a></td>
                        <td><span><%= wpolishes[i].batch %></span></td>
                        <td class="tableswatch"><% if (wpolishes[i].swatch.length > 0) {%>
                                <img src="<%=wpolishes[i].swatch%>" alt="Nail polish swatch in shade <%= wpolishes[i].brand %> - <%= wpolishes[i].name %>">
                            <%} else {%>
                                <img src="/images/swatches/noswatch.jpg" alt="">
                            <%}%>
                        </td>
                        <td>
                            <span><%= wpolishes[i].type.toString().replace(/,/g,", ") %></span>
                        </td>
                    <% } %>
                    </table>
            <% } %>
        </div>
        <div id="biglayout">
            <% if (checkins.length > 0) { %>
                <br><br><h4><%= username %>'s Fresh Coats:</h4><br>
                <div class="collage">
                    <% for (i=0; i<checkins.length; i++) { %>
                        <% if (checkins[i].pendingdelete === false) { %>
                            <a href="/freshcoats/<%=checkins[i].id%>"><img src="<%= checkins[i].photo %>" alt="Manicure by user <%= username %>"></a>
                        <% } %>
                    <% } %>
                </div>
            <% } %>
        </div>
        <div id="smalllayout">
            <% if (checkins.length > 0) { %>
                <br><br><h4><%= username %>'s Fresh Coats:</h4><br>
                <div>
                    <% for (i=0; i<checkins.length; i++) { %>
                        <% if (checkins[i].pendingdelete === false) { %>
                            <a href="/freshcoats/<%=checkins[i].id%>"><img style="max-width:49%; padding-bottom:2px;" src="<%= checkins[i].photo %>" alt="Manicure by user <%= username %>"></a>
                        <% } %>
                    <% } %>
                </div>
            <% } %>
        </div>
    </section>
    </div>
</div>

<script>
$('span').each(function() {
    var fontSize = 100;
    while (this.scrollWidth > $(this).width() && fontSize > 0) {
        // adjust the font-size 5% at a time
        fontSize -= 5;
        $(this).css('font-size', fontSize + '%');
    }
});
</script>

<%- include('../layoutBottom'); %>