<%- include('../layoutTop'); %>

<script src="/scripts/collageplus.js"></script>
<script src="/scripts/sorttable.js"></script>
<link rel="stylesheet" href="https://unpkg.com/freezeframe@3.0.10/build/css/freezeframe_styles.min.css">
<script type="text/javascript" src="https://unpkg.com/freezeframe@3.0.10/build/js/freezeframe.pkgd.min.js"></script>

<script>
$(window).load(function () {
    if (window.matchMedia("(min-width: 600px)").matches) {
        $('.collage').collagePlus({
            'targetHeight' : 250,
            'allowPartialLastRow' : true,
        });
    }
});
</script>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
        <div>
            <% if (profilephoto.length > 0) { %>
                <img class="profilephoto" src="<%= profilephoto %>">
            <% } %>
        </div>
        <div id="biglayout">
            <h2 style="display:inline-block"><%= username %>'s Profile</h2>
            <% if (isAuthenticated) { %>
                <% if (user.username === username) { %>
                    - <a href="/profile/<%= username %>/edit">Edit your profile</a> | <a href="/import">Import owned polish</a> | <a href="/profile/<%= username %>/export">Export owned polish</a>
                <% } else if (useremail === "on") {%>
                    - <a href="/profile/<%= username %>/message">Send a message</a>
                <% } %>
            <% } %>
            <br><br><p style="white-space: pre; padding-left: 3em"><%- about %></p><br><br><br>
        </div>
        <div id="smalllayout">
            <h3 style="display:inline-block"><%= username %>'s Profile</h3>
            <% if (isAuthenticated) { %>
                <% if (user.username === username) { %>
                    <br><br><a href="/profile/<%= username %>/edit">Edit your profile</a>
                    <br><br><a href="/import">Import owned polish</a>
                    <br><br><a href="/profile/<%= username %>/export">Export owned polish</a>
                <% } else if (useremail === "on") {%>
                    <br><br><a href="/profile/<%= username %>/message">Send a message</a>
                <% } %>
            <% } %>
            <br><br><br><p style="white-space: pre; padding-left: 3em"><%- about %></p>
        </div>
        <div>
            <% if (opolishes.length > 0) { %>
                <br><br>
                <span class="owned-open">&#9654; <h4 style="display:inline"><%= username %>'s Owned Polish (<%= opolishes.length %>)</h4><br><br></span>
                <span class="owned-close" style="display:none">&#9660; <h4 style="display:inline"><%= username %>'s Owned Polish (<%= opolishes.length %>)</h4></span>
                <div id="owned" style="display:none">
                    <br>
                    <table id="ownedpolish" class="ownedtable sortable">
                        <tr><th class="name"><span>Name</span></th><th class="brand"><span>Brand</span></th><th class="collection"><span>Collection</span></th><th class="swatch"><span>Swatch</span></th><th class="type"><span>Type</span></th><th class="rating"><span><%= username %>'s Rating</span></th></tr>
                    <% for(var i=0; i<opolishes.length; i++) {%>
                        <tr><td><a id='tablelink' href='/polish/<%= opolishes[i].brand.replace(/ /g,"_") %>/<%= opolishes[i].name.replace(/ /g,"_") %>'><span><%= opolishes[i].name %></span></a></td>
                        <td><a id='tablelink' href='/brand/<%= opolishes[i].brand.replace(/ /g,"_") %>'><span><%= opolishes[i].brand %></span></a></td>
                        <td><span><%= opolishes[i].batch %></span></td>
                        <td class="tableswatch"><% if (opolishes[i].swatch.length > 0) {%>
                                <img src="<%=opolishes[i].swatch%>" alt="Nail polish swatch of shade <%= opolishes[i].brand %> <%= opolishes[i].name %>">
                            <%} else {%>
                                <img src="/images/swatches/noswatch.jpg" alt="">
                            <%}%>
                        </td>
                        <td>
                            <span><%= opolishes[i].type.toString().replace(/,/g,", ") %></span>
                        </td>
                        <td>
                            <% if (typeof oreviews[i] !== "undefined" && oreviews[i].rating > 0) { %>
                                <span style="display:none;"><%=oreviews[i].rating%></span><img class="starprofile" src="/images/stars/<%=oreviews[i].rating%>star.png"alt="">
                            <% } %>
                        </td></tr>
                    <% } %>
                    </table>
                </div>
            <% } %>

            <% if (oaccessories.length > 0) { %>
                <br><br>
                <span class="accessories-open">&#9654; <h4 style="display:inline"><%= username %>'s Tools/Accessories (<%= oaccessories.length %>)</h4><br><br></span>
                <span class="accessories-close" style="display:none">&#9660; <h4 style="display:inline"><%= username %>'s Tools/Accessories (<%= oaccessories.length %>)</h4></span>
                <div id="accessories" style="display:none">
                    <br>
                    <table id="ownedpolish" class="ownedtable sortable">
                        <tr><th class="name"><span>Name</span></th><th class="brand"><span>Brand</span></th><th class="collection"><span>Collection</span></th><th class="type"><span>Type</span></th><th class="rating"><span><%= username %>'s Rating</span></th></tr>
                    <% for(var i=0; i<oaccessories.length; i++) {%>
                        <tr><td><a id='tablelink' href='/polish/<%= oaccessories[i].brand.replace(/ /g,"_") %>/<%= oaccessories[i].name.replace(/ /g,"_") %>'><span><%= oaccessories[i].name %></span></a></td>
                        <td><a id='tablelink' href='/brand/<%= oaccessories[i].brand.replace(/ /g,"_") %>'><span><%= oaccessories[i].brand %></span></a></td>
                        <td><span><%= oaccessories[i].batch %></span></td>
                        <td>
                            <span><%= oaccessories[i].type.toString().replace(/,/g,", ") %></span>
                        </td>
                        <td>
                            <% if (typeof areviews[i] !== "undefined" && areviews[i].rating > 0) { %>
                                <span style="display:none;"><%=areviews[i].rating%></span><img class="starprofile" src="/images/stars/<%=areviews[i].rating%>star.png"alt="">
                            <% } %>
                        </td></tr>
                    <% } %>
                    </table>
                </div>
            <% } %>

            <% if (wpolishes.length > 0) { %>
                <br><br>
                <span class="wanted-open">&#9654; <h4 style="display:inline"><%= username %>'s Wishlist (<%= wpolishes.length %>)</h4><br><br></span>
                <span class="wanted-close" style="display:none">&#9660; <h4 style="display:inline"><%= username %>'s Wishlist (<%= wpolishes.length %>)</h4></span>
                <div id="wanted" style="display:none">
                    <br>
                    <table id="wantedpolish" class="wantedtable sortable">
                        <tr><th class="name"><span>Name</span></th><th class="brand"><span>Brand</span></th><th class="collection"><span>Collection</span></th><th class="swatch"><span>Swatch</span></th><th class="type"><span>Type</span></th></tr>
                    <% for(var i=0; i<wpolishes.length; i++) {%>
                        <tr><td><a id='tablelink' href='/polish/<%= wpolishes[i].brand.replace(/ /g,"_") %>/<%= wpolishes[i].name.replace(/ /g,"_") %>'><span><%= wpolishes[i].name %></span></a></td>
                        <td><a id='tablelink' href='/brand/<%= wpolishes[i].brand.replace(/ /g,"_") %>'><span><%= wpolishes[i].brand %></span></a></td>
                        <td><span><%= wpolishes[i].batch %></span></td>
                        <td class="tableswatch"><% if (wpolishes[i].swatch.length > 0) {%>
                                <img src="<%=wpolishes[i].swatch%>" alt="Nail polish swatch of shade <%= wpolishes[i].brand %> <%= wpolishes[i].name %>">
                            <%} else {%>
                                <img src="/images/swatches/noswatch.jpg" alt="">
                            <%}%>
                        </td>
                        <td>
                            <span><%= wpolishes[i].type.toString().replace(/,/g,", ") %></span>
                        </td>
                    <% } %>
                    </table>
                </div>
            <% } %>

            <% if (checkins.length > 0) { %>
                <br><br>
                <span class="freshcoats-open" style="display:none">&#9654; <h4 style="display:inline"><%= username %>'s Fresh Coats (<%= checkins.length %>)</h4><br><br></span>
                <span class="freshcoats-close">&#9660; <h4 style="display:inline"><%= username %>'s Fresh Coats (<%= checkins.length %>)</h4></span>
                <div id="freshcoats">
                    <div class="collage">
                        <% for (i=0; i<checkins.length; i++) { %>
                            <% if (checkins[i].pendingdelete === false) { %>
                                <% if (checkins[i].type !== "video") { %>
                                    <a href="/freshcoats/<%=checkins[i].id%>"><img src="<%= checkins[i].photo %>" alt="" <% if (checkins[i].photo.slice(checkins[i].photo.length - 4)==".gif") { %>class="freezeframe"><%}%></a>
                                <% } else { %>
                                    <a href="/freshcoats/<%=checkins[i].id%>"><img src="<%= checkins[i].photo.split('.').slice(0, -1).join('.') %>T.jpeg" alt=""></a>
                                <% } %>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            <% } %>
        </div>
    </section>
    </div>
</div>

<script>
$('span').each(function() {
    var fontSize = 100;
    while (this.scrollWidth > $(this).width() && fontSize > 0) {
        // adjust the font-size 5% at a time
        fontSize -= 5;
        $(this).css('font-size', fontSize + '%');
    }
});

$('.accessories-open').click(function() {
    $('#accessories').slideDown();
    $('.accessories-close').show();
    $('.accessories-open').hide();
    $('span').each(function() {
        var fontSize = 100;
        while (this.scrollWidth > $(this).width() && fontSize > 0) {
            // adjust the font-size 5% at a time
            fontSize -= 5;
            $(this).css('font-size', fontSize + '%');
        }
    });
});
$('.accessories-close').click(function() {
    $('#accessories').slideUp();
    $('.accessories-open').show();
    $('.accessories-close').hide();
});

$('.owned-open').click(function() {
    $('#owned').slideDown();
    $('.owned-close').show();
    $('.owned-open').hide();
    $('span').each(function() {
        var fontSize = 100;
        while (this.scrollWidth > $(this).width() && fontSize > 0) {
            // adjust the font-size 5% at a time
            fontSize -= 5;
            $(this).css('font-size', fontSize + '%');
        }
    });
});
$('.owned-close').click(function() {
    $('#owned').slideUp();
    $('.owned-open').show();
    $('.owned-close').hide();
});

$('.wanted-open').click(function() {
    $('#wanted').slideDown();
    $('.wanted-close').show();
    $('.wanted-open').hide();
    $('span').each(function() {
        var fontSize = 100;
        while (this.scrollWidth > $(this).width() && fontSize > 0) {
            // adjust the font-size 5% at a time
            fontSize -= 5;
            $(this).css('font-size', fontSize + '%');
        }
    });
});
$('.wanted-close').click(function() {
    $('#wanted').slideUp();
    $('.wanted-open').show();
    $('.wanted-close').hide();
});

$('.freshcoats-open').click(function() {
    $('#freshcoats').slideDown();
    $('.freshcoats-close').show();
    $('.freshcoats-open').hide();

});
$('.freshcoats-close').click(function() {
    $('#freshcoats').slideUp();
    $('.freshcoats-open').show();
    $('.freshcoats-close').hide();
});

$('.freezeframe').freezeframe();
</script>

<%- include('../layoutBottom'); %>