<% include ../layoutTop %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
        <section>
            <div id="smalllayout">
                <% if (typeof message !== "undefined" && typeof url !== "undefined") { %>
                    <center><h3><%= message %></h3><br>
                    <input id="copyurl" class="width80" value=<%=url%>><br><br><br>
                <% } %>
            </div>
            <div>
                <b>Upload Success!</b><br><br>
                <img class="polishphotosmall" src="<%=srcurl%>"/>
            </div>
            <div id="biglayout">
                <% if (typeof message !== "undefined" && typeof url !== "undefined") { %>
                    <br><br><b><%= message %></b><br><br>
                    <textarea id="copyurl" class="width80"><%=url%></textarea><br><input type="button" id="copy" value="Copy to Clipboard"/>
                <% } %>
            </div>
        </section>
    </div>
</div>

<script>
$(document).ready(function(){
    $('#copy').zclip({
        path:'/scripts/ZeroClipboard.swf',
        copy:function(){return $('#copyurl').val();},
        afterCopy:function(){
            $('#copyurl').css('background-color','#9ED9CF');
        }
    });
});
</script>

<% include ../layoutBottom %>