<%- include('../layoutTop'); %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    	<section>
    		<div>
                <form action="/photo/edit/<%=photo.polishid%>/<%=photo.id%>" method="post">
	     		    <br><h3>Edit Photo Credit:</h3><br>
                    <br><img class="polishphotosmall" src="<%= photo.location %>"><br><br>
                    <input type="text" name="creditname" value="<%=photo.creditname%>" placeholder="credit name" class="width40"><br><br>
                    <input type="url" name="creditlink" value="<%=photo.creditlink%>" placeholder="credit link" class="width40"><br><br>
                    <input type="submit" value="Submit" class="button">
                </form>
            </div>
    	</section>
    </div>
</div>

<%- include('../layoutBottom'); %>