<%- include('../layoutTop'); %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    	<section>
    		<div>
                <a href="/polish/<%=urlbrand%>/<%=urlname%>">&#8592; Cancel</a><br><br>
	     		<br><h3>Edit Photos:</h3><br>
                    <% for (i=0; i < allphotos.length; i++) { %>
                    <br><img class="polishphotosmall" src="<%= allphotos[i].location %>"><br><a href="/photo/flag/<%= allphotos[i].polishid %>/<%= allphotos[i].id %>">Flag photo</a> | <a href="/photo/edit/<%= allphotos[i].polishid %>/<%= allphotos[i].id %>">Edit credit</a> | <a href="/photo/swatch/<%= allphotos[i].polishid %>/<%= allphotos[i].id %>">Create swatch</a><br><br>
                <% } %>
            </div>
    	</section>
    </div>
</div>

<%- include('../layoutBottom'); %>