<% include layoutTop %>


<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
        <table class="sortable">
            <tr><th>#</th><th>Username</th><th>Created</th><th>Validated</th></tr>
            <% for (i=0; i < allusers.length; i++) { %>
                <tr>
                    <td><%=allusers[i].usernumber%></td>
                    <td><a href="/profile/<%= allusers[i].username %>"><%= allusers[i].username %></a></td>
                    <td><%= allusers[i].creationdate %></td>
                    <td><%= allusers[i].isvalidated %></td>
                </tr>
            <% } %>
        </table>
    </section>
    </div>
</div>

<% include layoutBottom %>