<%- include('layoutTop'); %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
        <section>
            <div id="browse-wrap">
            <div id="browse-left_col">
                <div id="biglayout">
                <div id="sidebar">
                <h3>Browse by:</h3><br>
                <form action="/browse" method="post" id="browseform">
                    <input type="text" name="keywords" <% if (browsekeywords.length > 0) { %> value="<%=browsekeywords%>" <% } %>placeholder="Keyword/Code" class="width80" autofocus>
                    <br><br><br>
                    <select name="brand" class="width80">
                        <option value="">All Brands</option>
                        <% for (i=0; i<brands.length; i++) { %>
                        <option value="<%= brands[i] %>" <% if (browsebrand === brands[i]) { %> selected="selected" <% } %>><%= brands[i] %></option>
                        <% } %>
                    </select>
                    <br><br><br>
                    <select name="colorcat" class="width80">
                        <option value="">All Colors</option>
                        <% for (i=0; i<colors.length; i++) { %>
                            <option value="<%=colors[i]%>" <% if (browsecolorcat === colors[i]) { %> selected="selected" <% } %>><%=colors[i]%></option>
                        <% } %>
                    </select>
                    <br><br><br>
                    <select name="type" class="width80">
                        <option value="">All Types</option>
                        <% for (i=0; i<types.length; i++) { %>
                            <option value="<%=types[i]%>" <% if (browsetype === types[i]) { %> selected="selected" <% } %>><%=types[i]%></option>
                        <% } %>
                    </select>
                    <br><br><br>
                    <input type="checkbox" name="indie" <% if (browseindie === "on") { %> checked <% } %>>Indie polishes<br><br><br>
                    <% if (isAuthenticated) { %>
                        <input type="checkbox" name="owned" <% if (browseowned === "on") { %> checked <% } %>>Owned polishes<br><br><br>
                        <input type="checkbox" name="wanted" <% if (browsewanted === "on") { %> checked <% } %>>Wanted polishes<br><br><br>
                    <% } %>
                    <input type="submit" class="button" name="browse" value="Browse">
                    <input style="visibility:hidden;" name="page" value="<%=page%>">
                    <input type="submit" style="visibility:hidden;" name="nextpage" value="nextpage" id="nextpage">
                    <input type="submit" style="visibility:hidden;" name="prevpage" value="prevpage" id="prevpage">
                </form>
                </div>
                </div>
                <div id="smalllayout">
                    <div>
                    <h3>Browse by:</h3><br>
                    <form action="/browse" method="post" id="browseform">
                        <input type="text" name="keywords" <% if (browsekeywords) { %> value="<%=browsekeywords%>" <% } %>placeholder="Keyword/Code" class="width80">
                        <br><br><br>
                        <select name="brand" class="width80">
                            <option value="">All Brands</option>
                            <% for (i=0; i<brands.length; i++) { %>
                            <option value="<%= brands[i] %>" <% if (browsebrand === brands[i]) { %> selected="selected" <% } %>><%= brands[i] %></option>
                            <% } %>
                        </select>
                        <br><br><br>
                        <select name="colorcat" class="width80">
                            <option value="">All Colors</option>
                            <% for (i=0; i<colors.length; i++) { %>
                                <option value="<%=colors[i]%>" <% if (browsecolorcat === colors[i]) { %> selected="selected" <% } %>><%=colors[i]%></option>
                            <% } %>
                        </select>
                        <br><br><br>
                        <select name="type" class="width80">
                            <option value="">All Types</option>
                            <% for (i=0; i<types.length; i++) { %>
                                <option value="<%=types[i]%>" <% if (browsetype === types[i]) { %> selected="selected" <% } %>><%=types[i]%></option>
                            <% } %>
                        </select>
                        <br><br><br>
                        <input type="checkbox" name="indie" <% if (browseindie === "on") { %> checked <% } %>>Indie polishes<br><br><br>
                        <% if (isAuthenticated) { %>
                            <input type="checkbox" name="owned" <% if (browseowned === "on") { %> checked <% } %>>Owned polishes<br><br><br>
                            <input type="checkbox" name="wanted" <% if (browsewanted === "on") { %> checked <% } %>>Wanted polishes<br><br><br>
                        <% } %>
                        <input type="submit" class="button" name="browse" value="Browse">
                        <input style="visibility:hidden;" name="page" value="<%=page%>">
                        <input type="submit" style="visibility:hidden;" name="nextpage" value="nextpage" id="nextpage">
                        <input type="submit" style="visibility:hidden;" name="prevpage" value="prevpage" id="prevpage">
                    </form>
                    <hr><br>
                    </div>
                </div>
            </div>
            <div id="browse-right_col">
                <% if (recent === true) { %><h4>Recently updated polishes:</h3><br><%}%>
                <table id="polishbrowse" class="sortable browsetable" style="width:100%">
                    <tr><th class="name"><span>Name</span></th><th class="brand"><span>Brand</span></th><th class="collection"><span>Collection</span></th><th class="color"><span>Color</span></th><th class="swatch"><span>Swatch</span></th><th class="type"><span>Type</span></th><% if (isAuthenticated) {%><th class="info"><span>Info</span></th><%}%></tr>
                    <% for(var i=0; i<polishes.length; i++) {%>
                        <tr><td><a id='tablelink' href='/polish/<%= polishes[i].brand.replace(/ /g,"_") %>/<%= polishes[i].name.replace(/ /g,"_") %>'><span><%= polishes[i].name %></span></a></td>
                        <td><a id='tablelink' href='/brand/<%= polishes[i].brand.replace(/ /g,"_") %>'><span><%= polishes[i].brand %></span></a></td>
                        <td><span><%= polishes[i].batch %></span></td>
                        <td class="colorcat nomargin"><p><%= polishes[i].colorcat %></p>
                            <% if (polishes[i].colorcat.length > 0) {%>
                                <% if (polishes[i].colorcat.indexOf(",") == -1) { %>
                                    <img src="/images/colors/<%= polishes[i].colorcat %>.png"/>
                                <% } else { %>
                                    <% for (j=0; j<colors.length; j++) { %>
                                        <% if (polishes[i].colorcat.indexOf(colors[j]) !== -1) { %>
                                            <img src="/images/colors/<%= colors[j] %>.png"/>
                                        <% } %>
                                    <% } %>
                                <% } %>
                            <%}%>
                        </td>
                        <td class="tableswatch"><% if (polishes[i].swatch.length > 0) {%>
                                <img src="<%=polishes[i].swatch%>"/>
                            <%} else {%>
                                &nbsp;
                            <%}%>
                        </td>
                        <td>
                            <span><%= polishes[i].type.replace(/,/g,", ") %></span>
                        </td>
                        <% if (isAuthenticated) { %><td class="nomargin">
                                <% if (status[i] === "owned") { %>
                                    <center><span>&#10004;</span></center>
                                <% } else if (status[i] === "wanted") { %>
                                    <center><span>&#10084;</span></center>
                                <% } else {%>
                                    <div class="replace">
                                        <center><div class="hoverholder">+</div>
                                        <div class="hovermenu"><a title="Add ownership" class="addown" pid="<%= polishes[i].id %>" href="#">&#10004;</a>|<a title="Add to wishlist" class="addwant" pid="<%= polishes[i].id %>" href="#">&#10084;</a></div></center>
                                    </div>
                                <% } %>
                        </td><% } %>
                        </tr>
                    <% } %>
                </table>
                <div style="clear: both;">
                    <% if (polishes.length === 50) { %>
                        <% if (page > 1) {%><p style="float:right;"><a id="prevlink" href="#">&#8592; Prev </a> | <a id="nextlink" href="#">Next &#8594;</a></p><%} else if (page === 1) {%><p style="float:right;"><a id="nextlink" href="#">Next &#8594;</a></p><%}%>
                    <% } %>
                    <p style="float:left;">Can't find the polish you're looking for? <a href="/polishadd">Add it to the database.</a></p>
                </div>
            </div>
            </div>
        </section>
    </div>
</div>

<script>
$(document).ready(function() {

    $("#nextlink").click(function(){
        $("#nextpage").trigger('click');
        return false;
    });


    $("#prevlink").click(function(){
        $("#prevpage").trigger('click');
        return false;
    });


    $('#nextlinkmobile').on('tap', function(e){
        $("#nextpage").trigger('click');
        e.preventDefault();
    });

    $('#prevlinkmobile').on('tap', function(e){
        $("#prevpage").trigger('click');
        e.preventDefault();
    });


    var $sidebar   = $("#sidebar"),
        $window    = $(window),
        offset     = $sidebar.offset(),
        topPadding = 15;
    $window.scroll(function() {
        if ($window.scrollTop() > offset.top) {
            $sidebar.stop().animate({
                marginTop: $window.scrollTop() - offset.top + topPadding
            });
        } else {
            $sidebar.stop().animate({
                marginTop: 0
            });
        }
    });


    $(function() {
        $('span').each(function() {
            var fontSize = 100;
            while (this.scrollWidth > $(this).width() && fontSize > 0) {
                // adjust the font-size 5% at a time
                fontSize -= 5;
                $(this).css('font-size', fontSize + '%');
            }
        });
    });

    $('.addown').on('tap', function(e){
        $.ajax({
            type: 'POST',
            url: '/addownbrowse/' + $(this).attr('pid'),
            dataType: 'json',
            success: function() {
                $(this).parent().parent().replaceWith('<div><center><span>&#10004;</span></center></div>');
            }
        })
        $(this).parent().parent().replaceWith('<div><center><span>&#10004;</span></center></div>');
        e.preventDefault();
    });

    $('.addwant').on('tap', function(e){
        $.ajax({
            type: 'POST',
            url: '/addwantbrowse/' + $(this).attr('pid'),
            dataType: 'json',
            success: function() {
                $(this).parent().parent().replaceWith('<div><center><span>&#10084;</span></center></div>');
            }
        })
        $(this).parent().parent().replaceWith('<div><center><span>&#10084;</span></center></div>');
        e.preventDefault();
    });

});
</script>

<%- include('layoutBottom'); %>