<%- include('layoutTop'); %>

<script src="/scripts/jscolor.js"></script>
<script src="/scripts/jquery-multiselect/jquery.multiselect.js"></script>
<link href="/scripts/jquery-multiselect/jquery.multiselect.css" rel="stylesheet"/>
<script src="/scripts/sorttable.js"></script>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
        <section>
            <div id="browse-wrap">
            <div id="browse-left_col">
                <div id="sidebar">
                    <h3>Browse by:</h3><br>
                    <form action="/browse" method="post" id="browseform" class="width80">
                        <input type="text" name="keywords" <% if (browsekeywords.length > 0) { %> value="<%=browsekeywords%>" <% } %>placeholder="&nbsp;&nbsp;Keyword/Code" style="width:98%">
                        <br><br><br>
                        <select name="brand" id="brand" multiple>
                            <% for (i=0; i<brands.length; i++) { %>
                                <option value="<%= brands[i] %>" <% if (browsebrand.indexOf(brands[i])>-1) { %> selected="selected" <% } %>><%= brands[i] %></option>
                            <% } %>
                        </select>
                        <br><br>
                        <select name="type" id="type" multiple>
                            <optgroup label="Polish Types">
                                <% for (i=0; i<types.length; i++) { %>
                                    <% if (types[i].category == "polish") { %>
                                        <option value="<%=types[i].name%>" <% if (browsetype.indexOf(types[i].name)>-1) { %> selected="selected" <% } %>><%=types[i].display%></option>
                                    <% } %>
                                <% } %>
                            </optgroup>
                            <optgroup label="Tool/Accessory Types">
                                <% for (i=0; i<types.length; i++) { %>
                                    <% if (types[i].category == "tool") { %>
                                        <option value="<%=types[i].name%>" <% if (browsetype.indexOf(types[i].name)>-1) { %> selected="selected" <% } %>><%=types[i].display%></option>
                                    <% } %>
                                <% } %>
                            </optgroup>
                        </select>
                        <br><br>
                        <select name="colorcategory" id="colorcategory" multiple>
                            <option value="black" <%if (browsecolorcategory.indexOf("black")>-1) {%> selected="selected" <%}%>>Black</option>
                            <option value="blue" <%if (browsecolorcategory.indexOf("blue")>-1) {%> selected="selected" <%}%>>Blue</option>
                            <option value="brown" <%if (browsecolorcategory.indexOf("brown")>-1) {%> selected="selected" <%}%>>Brown</option>
                            <option value="gray" <%if (browsecolorcategory.indexOf("gray")>-1) {%> selected="selected" <%}%>>Gray</option>
                            <option value="green" <%if (browsecolorcategory.indexOf("green")>-1) {%> selected="selected" <%}%>>Green</option>
                            <option value="orange" <%if (browsecolorcategory.indexOf("orange")>-1) {%> selected="selected" <%}%>>Orange</option>
                            <option value="pink" <%if (browsecolorcategory.indexOf("pink")>-1) {%> selected="selected" <%}%>>Pink</option>
                            <option value="purple" <%if (browsecolorcategory.indexOf("purple")>-1) {%> selected="selected" <%}%>>Purple</option>
                            <option value="red" <%if (browsecolorcategory.indexOf("red")>-1) {%> selected="selected" <%}%>>Red</option>
                            <option value="white" <%if (browsecolorcategory.indexOf("white")>-1) {%> selected="selected" <%}%>>White</option>
                            <option value="yellow" <%if (browsecolorcategory.indexOf("yellow")>-1) {%> selected="selected" <%}%>>Yellow</option>
                            <option value="choose" <%if (browsecolorcategory.indexOf("choose")>-1) {%> selected="selected" <%}%>>Choose a color</option>
                        </select>
                        <span id="colorselector" <%if (browsecolorcategory!=="choose"){%> style="display:none" <%}%>>
                            <input name="selectcolor" type="hidden" id="color_value" value="<%=browseselectcolor%>">
                            <input type="button" class="jscolor {valueElement: 'color_value'}" style="width:50px; height:20px;">
                        </span>
                        <br><br>
                        <% if (isAuthenticated) { %>
                            <input type="checkbox" name="owned" <% if (browseowned === "on") { %> checked <% } %>>Owned items<br><br><br>
                            <input type="checkbox" name="wanted" <% if (browsewanted === "on") { %> checked <% } %>>Wanted items<br><br><br>
                        <% } %>
                        <input type="submit" class="button" name="browse" value="Browse">
                        <input style="visibility:hidden;" name="page" value="<%=page%>">
                        <input type="submit" style="visibility:hidden;" name="nextpage" value="nextpage" id="nextpage">
                        <input type="submit" style="visibility:hidden;" name="prevpage" value="prevpage" id="prevpage">
                    </form>
                    <div id="smalllayout">
                        <hr><br>
                    </div>
                </div>
            </div>
            <div id="browse-right_col">
                <% if (recent === true) { %><h4>Recently updated:</h3><br><%}%>
                <table id="polishbrowse" class="browsetable sortable" style="width:100%">
                    <tr><th class="name"><span>Name</span></th><th class="brand"><span>Brand</span></th><th class="collection"><span>Collection</span></th><th class="swatch"><span>Swatch</span></th><th class="type"><span>Type</span></th><% if (isAuthenticated) {%><th class="info"><span>Info</span></th><%}%></tr>
                    <% for(var i=0; i<polishes.length; i++) {%>
                        <tr><td><a id='tablelink' href='/polish/<%= polishes[i].brand.replace(/ /g,"_") %>/<%= polishes[i].name.replace(/ /g,"_") %>'><span><%= polishes[i].name %></span></a></td>
                        <td><a id='tablelink' href='/brand/<%= polishes[i].brand.replace(/ /g,"_") %>'><span><%= polishes[i].brand %></span></a></td>
                        <td><span><%= polishes[i].batch %></span></td>
                        <td class="tableswatch"><% if (polishes[i].swatch.length > 0) {%>
                                <img src="<%=polishes[i].swatch%>" alt="Nail polish swatch of shade <%= polishes[i].brand %> <%= polishes[i].name %>">
                            <%} else {%>
                                <img src="/images/swatches/noswatch.jpg" alt="">
                            <%}%>
                        </td>
                        <td>
                            <span><%= polishes[i].type.toString().replace(/,/g,", ") %></span>
                        </td>
                        <% if (isAuthenticated) { %><td class="nomargin">
                                <% if (status[i] === "owned") { %>
                                    <center><span>&#10004;</span></center>
                                <% } else if (status[i] === "wanted") { %>
                                    <center><span>&#10084;</span></center>
                                <% } else {%>
                                    <div class="replace">
                                        <center><div class="hoverholder">+</div>
                                        <div class="hovermenu"><a title="Add ownership" class="addown" pid="<%= polishes[i].id %>" href="#">&#10004;</a>|<a title="Add to wishlist" class="addwant" pid="<%= polishes[i].id %>" href="#">&#10084;</a></div></center>
                                    </div>
                                <% } %>
                        </td><% } %>
                        </tr>
                    <% } %>
                </table>
                <div style="clear: both;">
                    <% if (polishes.length === 50) { %>
                        <% if (page > 1) {%><p style="float:right;"><a id="prevlink" href="#">&#8592; Prev </a> | <a id="nextlink" href="#">Next &#8594;</a></p><%} else if (page === 1) {%><p style="float:right;"><a id="nextlink" href="#">Next &#8594;</a></p><%}%>
                    <% } %>
                    <p style="float:left;">Can't find the polish you're looking for? <a href="/polishadd">Add it to the database.</a></p>
                </div>
            </div>
            </div>
        </section>
    </div>
</div>

<script>
$("#nextlink").click(function(){
    $("#nextpage").trigger('click');
    return false;
});


$("#prevlink").click(function(){
    $("#prevpage").trigger('click');
    return false;
});


$('#nextlinkmobile').on('tap', function(e){
    $("#nextpage").trigger('click');
    e.preventDefault();
});

$('#prevlinkmobile').on('tap', function(e){
    $("#prevpage").trigger('click');
    e.preventDefault();
});



$('span').each(function() {
    var fontSize = 100;
    while (this.scrollWidth > $(this).width() && fontSize > 0) {
        // adjust the font-size 5% at a time
        fontSize -= 5;
        $(this).css('font-size', fontSize + '%');
    }
});



$('.addown').on('tap', function(e){
    $.ajax({
        type: 'POST',
        url: '/addownbrowse/' + $(this).attr('pid'),
        dataType: 'json',
        success: function() {
            $(this).parent().parent().replaceWith('<div><center><span>&#10004;</span></center></div>');
        }
    })
    $(this).parent().parent().replaceWith('<div><center><span>&#10004;</span></center></div>');
    e.preventDefault();
});

$('.addwant').on('tap', function(e){
    $.ajax({
        type: 'POST',
        url: '/addwantbrowse/' + $(this).attr('pid'),
        dataType: 'json',
        success: function() {
            $(this).parent().parent().replaceWith('<div><center><span>&#10084;</span></center></div>');
        }
    })
    $(this).parent().parent().replaceWith('<div><center><span>&#10084;</span></center></div>');
    e.preventDefault();
});



$('#colorcategory').change(function(){
    if($(this).val() == "choose"){
        $('#colorselector').show();
    } else {
        $('#colorselector').hide();
    }
});

$('#brand').multiselect({
    columns: 1,
    maxWidth: '250px',
    search: true,
    placeholder: 'All Brands',
    selectAll: true
});

$('#type').multiselect({
    columns: 1,
    maxWidth: '250px',
    search: true,
    placeholder: 'All Types',
    selectAll: true
});

$('#colorcategory').multiselect({
    columns: 1,
    maxWidth: '250px',
    search: true,
    placeholder: 'All Colors',
    selectAll: true
});

</script>

<%- include('layoutBottom'); %>