<% include layoutTop %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
        <section>
            <div id="browse-wrap">
            <div id="browse-left_col">
                <div id="biglayout">
                <div id="sidebar">
                <h3>Browse by:</h3><br>
                <form action="/browse" method="post" id="browseform">
                    <input type="text" name="keywords" <% if (browsekeywords.length > 0) { %> value="<%=browsekeywords%>" <% } %>placeholder="Keyword/Code" class="width80">
                    <br><br><br>
                    <select name="brand" class="width80">
                        <option value="">All Brands</option>
                        <% for (i=0; i<brands.length; i++) { %>
                        <option value="<%= brands[i] %>" <% if (browsebrand === brands[i]) { %> selected="selected" <% } %>><%= brands[i] %></option>
                        <% } %>
                    </select>
                    <br><br><br>
                    <select name="colorcat" class="width80">
                        <option value="">All Colors</option>
                        <option value="beige" <% if (browsecolorcat === "beige") { %> selected="selected" <% } %>>beige</option>
                        <option value="black" <% if (browsecolorcat === "black") { %> selected="selected" <% } %>>black</option>
                        <option value="blue" <% if (browsecolorcat === "blue") { %> selected="selected" <% } %>>blue</option>
                        <option value="brown" <% if (browsecolorcat === "brown") { %> selected="selected" <% } %>>brown</option>
                        <option value="clear" <% if (browsecolorcat === "clear") { %> selected="selected" <% } %>>clear</option>
                        <option value="gold" <% if (browsecolorcat === "gold") { %> selected="selected" <% } %>>gold</option>
                        <option value="green" <% if (browsecolorcat === "green") { %> selected="selected" <% } %>>green</option>
                        <option value="grey" <% if (browsecolorcat === "grey") { %> selected="selected" <% } %>>grey</option>
                        <option value="nude" <% if (browsecolorcat === "nude") { %> selected="selected" <% } %>>nude</option>
                        <option value="orange" <% if (browsecolorcat === "orange") { %> selected="selected" <% } %>>orange</option>
                        <option value="pink" <% if (browsecolorcat === "pink") { %> selected="selected" <% } %>>pink</option>
                        <option value="purple" <% if (browsecolorcat === "purple") { %> selected="selected" <% } %>>purple</option>
                        <option value="red" <% if (browsecolorcat === "red") { %> selected="selected" <% } %>>red</option>
                        <option value="silver" <% if (browsecolorcat === "silver") { %> selected="selected" <% } %>>silver</option>
                        <option value="white" <% if (browsecolorcat === "white") { %> selected="selected" <% } %>>white</option>
                        <option value="yellow" <% if (browsecolorcat === "yellow") { %> selected="selected" <% } %>>yellow</option>
                    </select>
                    <br><br><br>
                    <select name="type" class="width80">
                        <option value="">All Types</option>
                        <option value="crackle" <% if (browsetype === "crackle") { %> selected="selected" <% } %>>crackle</option>
                        <option value="creme" <% if (browsetype === "creme") { %> selected="selected" <% } %>>creme</option>
                        <option value="flakie" <% if (browsetype === "flakie") { %> selected="selected" <% } %>>flakie</option>
                        <option value="glitter" <% if (browsetype === "glitter") { %> selected="selected" <% } %>>glitter</option>
                        <option value="glow" <% if (browsetype === "glow") { %> selected="selected" <% } %>>glow</option>
                        <option value="holo" <% if (browsetype === "holo") { %> selected="selected" <% } %>>holo</option>
                        <option value="jelly" <% if (browsetype === "jelly") { %> selected="selected" <% } %>>jelly</option>
                        <option value="magnetic" <% if (browsetype === "magnetic") { %> selected="selected" <% } %>>magnetic</option>
                        <option value="matte" <% if (browsetype === "matte") { %> selected="selected" <% } %>>matte</option>
                        <option value="metallic" <% if (browsetype === "metallic") { %> selected="selected" <% } %>>metallic</option>
                        <option value="neon" <% if (browsetype === "neon") { %> selected="selected" <% } %>>neon</option>
                        <option value="sheer" <% if (browsetype === "sheer") { %> selected="selected" <% } %>>sheer</option>
                        <option value="shimmer" <% if (browsetype === "shimmer") { %> selected="selected" <% } %>>shimmer</option>
                        <option value="striper" <% if (browsetype === "striper") { %> selected="selected" <% } %>>striper</option>
                        <option value="texture" <% if (browsetype === "texture") { %> selected="selected" <% } %>>texture</option>
                        <option value="thermal" <% if (browsetype === "thermal") { %> selected="selected" <% } %>>thermal</option>
                        <option value="top/base" <% if (browsetype === "top/base") { %> selected="selected" <% } %>>top/base</option>
                    </select>
                    <br><br><br>
                    <input type="checkbox" name="indie" <% if (browseindie === "on") { %> checked <% } %>>Indie polishes<br><br><br>
                    <% if (isAuthenticated()) { %>
                        <input type="checkbox" name="owned" <% if (browseowned === "on") { %> checked <% } %>>Owned polishes<br><br><br>
                        <input type="checkbox" name="wanted" <% if (browsewanted === "on") { %> checked <% } %>>Wanted polishes<br><br><br>
                    <% } %>
                    <input type="submit" class="button" name="browse" value="Browse">
                    <input style="visibility:hidden;" name="page" value="<%=page%>">
                    <input type="submit" style="visibility:hidden;" name="nextpage" value="nextpage" id="nextpage">
                    <input type="submit" style="visibility:hidden;" name="prevpage" value="prevpage" id="prevpage">
                </form>
                </div>
                </div>
                <div id="smalllayout">
                    <div>
                    <h3>Browse by:</h3><br>
                    <form action="/browse" method="post" id="browseform">
                        <input type="text" name="keywords" <% if (browsekeywords) { %> value="<%=browsekeywords%>" <% } %>placeholder="Keyword/Code" class="width80">
                        <br><br><br>
                        <select name="brand" class="width80">
                            <option value="">All Brands</option>
                            <% for (i=0; i<brands.length; i++) { %>
                            <option value="<%= brands[i] %>" <% if (browsebrand === brands[i]) { %> selected="selected" <% } %>><%= brands[i] %></option>
                            <% } %>
                        </select>
                        <br><br><br>
                        <select name="colorcat" class="width80">
                            <option value="">All Colors</option>
                            <option value="beige" <% if (browsecolorcat === "beige") { %> selected="selected" <% } %>>beige</option>
                            <option value="black" <% if (browsecolorcat === "black") { %> selected="selected" <% } %>>black</option>
                            <option value="blue" <% if (browsecolorcat === "blue") { %> selected="selected" <% } %>>blue</option>
                            <option value="brown" <% if (browsecolorcat === "brown") { %> selected="selected" <% } %>>brown</option>
                            <option value="clear" <% if (browsecolorcat === "clear") { %> selected="selected" <% } %>>clear</option>
                            <option value="gold" <% if (browsecolorcat === "gold") { %> selected="selected" <% } %>>gold</option>
                            <option value="green" <% if (browsecolorcat === "green") { %> selected="selected" <% } %>>green</option>
                            <option value="grey" <% if (browsecolorcat === "grey") { %> selected="selected" <% } %>>grey</option>
                            <option value="nude" <% if (browsecolorcat === "nude") { %> selected="selected" <% } %>>nude</option>
                            <option value="orange" <% if (browsecolorcat === "orange") { %> selected="selected" <% } %>>orange</option>
                            <option value="pink" <% if (browsecolorcat === "pink") { %> selected="selected" <% } %>>pink</option>
                            <option value="purple" <% if (browsecolorcat === "purple") { %> selected="selected" <% } %>>purple</option>
                            <option value="red" <% if (browsecolorcat === "red") { %> selected="selected" <% } %>>red</option>
                            <option value="silver" <% if (browsecolorcat === "silver") { %> selected="selected" <% } %>>silver</option>
                            <option value="white" <% if (browsecolorcat === "white") { %> selected="selected" <% } %>>white</option>
                            <option value="yellow" <% if (browsecolorcat === "yellow") { %> selected="selected" <% } %>>yellow</option>
                        </select>
                        <br><br><br>
                        <select name="type" class="width80">
                            <option value="">All Types</option>
                            <option value="crackle" <% if (browsetype === "crackle") { %> selected="selected" <% } %>>crackle</option>
                            <option value="creme" <% if (browsetype === "creme") { %> selected="selected" <% } %>>creme</option>
                            <option value="flakie" <% if (browsetype === "flakie") { %> selected="selected" <% } %>>flakie</option>
                            <option value="glitter" <% if (browsetype === "glitter") { %> selected="selected" <% } %>>glitter</option>
                            <option value="glow" <% if (browsetype === "glow") { %> selected="selected" <% } %>>glow</option>
                            <option value="holo" <% if (browsetype === "holo") { %> selected="selected" <% } %>>holo</option>
                            <option value="jelly" <% if (browsetype === "jelly") { %> selected="selected" <% } %>>jelly</option>
                            <option value="magnetic" <% if (browsetype === "magnetic") { %> selected="selected" <% } %>>magnetic</option>
                            <option value="matte" <% if (browsetype === "matte") { %> selected="selected" <% } %>>matte</option>
                            <option value="metallic" <% if (browsetype === "metallic") { %> selected="selected" <% } %>>metallic</option>
                            <option value="neon" <% if (browsetype === "neon") { %> selected="selected" <% } %>>neon</option>
                            <option value="sheer" <% if (browsetype === "sheer") { %> selected="selected" <% } %>>sheer</option>
                            <option value="shimmer" <% if (browsetype === "shimmer") { %> selected="selected" <% } %>>shimmer</option>
                            <option value="striper" <% if (browsetype === "striper") { %> selected="selected" <% } %>>striper</option>
                            <option value="texture" <% if (browsetype === "texture") { %> selected="selected" <% } %>>texture</option>
                            <option value="thermal" <% if (browsetype === "thermal") { %> selected="selected" <% } %>>thermal</option>
                            <option value="top/base" <% if (browsetype === "top/base") { %> selected="selected" <% } %>>top/base</option>
                        </select>
                        <br><br><br>
                        <input type="checkbox" name="indie" <% if (browseindie === "on") { %> checked <% } %>>Indie polishes<br><br><br>
                        <% if (isAuthenticated()) { %>
                            <input type="checkbox" name="owned" <% if (browseowned === "on") { %> checked <% } %>>Owned polishes<br><br><br>
                            <input type="checkbox" name="wanted" <% if (browsewanted === "on") { %> checked <% } %>>Wanted polishes<br><br><br>
                        <% } %>
                        <input type="submit" class="button" name="browse" value="Browse">
                        <input style="visibility:hidden;" name="page" value="<%=page%>">
                        <input type="submit" style="visibility:hidden;" name="nextpage" value="nextpage" id="nextpage">
                        <input type="submit" style="visibility:hidden;" name="prevpage" value="prevpage" id="prevpage">
                    </form>
                    <hr><br>
                    </div>
                </div>
            </div>
            <div id="browse-right_col">
                <% if (recent === true) { %><h4>Recently Updated:</h3><br><%}%>
                <table id="polishbrowse" class="sortable browsetable" style="width:100%">
                    <tr><th class="name"><span>Name</span></th><th class="brand"><span>Brand</span></th><th class="collection"><span>Collection</span></th><th class="color"><span>Color</span></th><th class="swatch"><span>Swatch</span></th><th class="type"><span>Type</span></th><th class="info"><span>Info</span></th></tr>
                    <% for(var i=0; i<polishes.length; i++) {%>
                        <tr><td><a id='tablelink' href='/polish/<%= polishes[i].brand.replace(/ /g,"_") %>/<%= polishes[i].name.replace(/ /g,"_") %>'><span><%= polishes[i].name %></span></a></td>
                        <td><span><%= polishes[i].brand %></span></td>
                        <td><span><%= polishes[i].batch %></span></td>
                        <td class="colorcat"><p><%= polishes[i].colorcat %></p>
                            <% if (polishes[i].colorcat.length > 0) {%>
                                <img src="/images/colors/<%= polishes[i].colorcat %>.png"/>
                            <%}%>
                        </td>
                        <td class="tableswatch"><% if (polishes[i].swatch.length > 0) {%>
                                <img src="<%=polishes[i].swatch%>"/>
                            <%} else {%>
                                &nbsp;
                            <%}%>
                        </td>
                        <td>
                            <span><%= polishes[i].type.replace(/,/g,", ") %></span>
                        </td>
                        <td><% if (isAuthenticated()) { %>
                                <% if (status[i] === "owned") { %>
                                    <center><span>&#10004;</span></center>
                                <% } else if (status[i] === "wanted") { %>
                                    <center><span>&#10084;</span></center>
                                <% } else {%>
                                    <div id="biglayout">
                                        <center><div class="hoverholder">+</div>
                                        <div class="hovermenu"><a title="Add ownership" href="/addownbrowse/<%= polishes[i].id %>">&#10004;</a>|<a title="Add to wishlist" href="/addwantbrowse/<%= polishes[i].id %>">&#10084;</a></div></center>
                                    </div>
                                    <div id="smalllayout">
                                        <center><div class="hoverholder">+</div>
                                        <div class="hovermenu"><a title="Add ownership" href="/addownbrowse/<%= polishes[i].id %>">&#10004;</a>|<a title="Add to wishlist" href="/addwantbrowse/<%= polishes[i].id %>">&#10084;</a></div></center>
                                    </div>
                                <% } %>
                            <% } else { %>
                                <div id="biglayout">
                                    <center><div class="hoverholder">+</div>
                                    <div class="hovermenu"><a title="Add ownership" href="/addownbrowse/<%= polishes[i].id %>">&#10004;</a>|<a title="Add to wishlist" href="/addwantbrowse/<%= polishes[i].id %>">&#10084;</a></div></center>
                                </div>
                                <div id="smalllayout">
                                    <center><div class="hoverholder">+</div>
                                    <div class="hovermenu"><a title="Add ownership" href="/addownbrowse/<%= polishes[i].id %>">&#10004;</a>|<a title="Add to wishlist" href="/addwantbrowse/<%= polishes[i].id %>">&#10084;</a></div></center>
                                </div>
                            <% } %>
                        </td></tr>
                    <% } %>
                </table>
                <div style="clear: both;">
                    <% if (polishes.length === 50) { %>
                        <% if (page > 1) {%><p style="float:right;"><a id="prevlink" href="#">&#8592; Prev </a> | <a id="nextlink" href="#">Next &#8594;</a></p><%} else if (page === 1) {%><p style="float:right;"><a id="nextlink" href="#">Next &#8594;</a></p><%}%>
                    <% } %>
                    <p style="float:left;">Can't find the polish you're looking for? <a href="/polishadd">Add it to the database.</a></p>
                </div>
            </div>
            </div>
        </section>
    </div>
</div>

<script>
$(document).ready(function() {

    $("#nextlink").click(function(){
        $("#nextpage").trigger('click');
        return false;
    });


    $("#prevlink").click(function(){
        $("#prevpage").trigger('click');
        return false;
    });


    $('#nextlinkmobile').on('tap', function(e){
        $("#nextpage").trigger('click');
        e.preventDefault();
    });

    $('#prevlinkmobile').on('tap', function(e){
        $("#prevpage").trigger('click');
        e.preventDefault();
    });


    var $sidebar   = $("#sidebar"),
        $window    = $(window),
        offset     = $sidebar.offset(),
        topPadding = 15;
    $window.scroll(function() {
        if ($window.scrollTop() > offset.top) {
            $sidebar.stop().animate({
                marginTop: $window.scrollTop() - offset.top + topPadding
            });
        } else {
            $sidebar.stop().animate({
                marginTop: 0
            });
        }
    });


    $(function() {
        $('span').each(function() {
            var fontSize = 100;
            while (this.scrollWidth > $(this).width() && fontSize > 0) {
                // adjust the font-size 5% at a time
                fontSize -= 5;
                $(this).css('font-size', fontSize + '%');
            }
        });
    });

});
</script>

<% include layoutBottom %>