<%- include('layoutTop'); %>

<script type= "text/javascript">
var RecaptchaOptions = {
theme: 'custom',
lang: 'en',
custom_theme_widget: 'recaptcha_widget'
};
</script>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
        <div id="contact-wrap">
            <div id="contact-left_col">
                <h4>Let us know you care!</h4>
                <p>This site is still in beta and growing everyday.<br><br>Feedback or comments are much appreciated.</p><br>
                <div id="biglayout"><img id="polish-image2" src="/images/polishheart.jpg"/></div>
            </div>
            <div id="contact-right_col">
                <% if (typeof message !== "undefined") { %>
                    <center><b><%= message %></b><br><br><br><br></center>
                <% } %>
                <form action="/contact" method="post" enctype="multipart/form-data">
                    Name:<br><input type="text" name="name" style="display:block; width:95%;" <%if (typeof inputname !== "undefined") {%>value="<%=inputname%>" <%}%> required autofocus><br><br>
                    Email:<br><input type="text" name="email" style="display:block; width:95%;" <%if (typeof inputemail !== "undefined") {%>value="<%=inputemail%>" <%}%>required><br><br>
                    Message:<br><textarea name="usermessage" rows="10" style="width:95%;" <%if (typeof inputmessage !== "undefined") {%>value="<%=inputmessage%>" <%}%>required><%if (typeof inputmessage !== "undefined") {%><%=inputmessage%><%}%></textarea><br><br>
                        <script src='https://www.google.com/recaptcha/api.js'></script>
                    <div class="g-recaptcha" data-sitekey="6LcSeegUAAAAACSmq6y9_hXYCgEXdGknDqg99b__"></div><br><br>
                    <input type="submit" class="button" value="Submit Feedback"/>
                </form>
                <div id="smalllayout"><br><br><img id="polish-image" src="/images/polishheart.jpg"/></div>
            </div>
        </div>
    </section>
    </div>
</div>

<%- include('layoutBottom'); %>