<% include layoutTop %>

<script type= "text/javascript">
    var RecaptchaOptions = {
        theme: 'custom',
        lang: 'en',
        custom_theme_widget: 'recaptcha_widget'
    };
</script>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
        <div>
            <% if (typeof message !== "undefined") { %>
                <center><b><%= message %></b><br><br><br><br></center>
            <% } %>
            <h3>Send message to <%= username %>:</h3><br><i>Be sure to include a reply e-mail if you need a response.</i><br><br><br><br>
            <form action="/email/<%=username%>" method="post">
                <textarea autofocus rows="10" class="width50" type="text" name="emailmessage" required <%if (typeof emailmessage !== "undefined") {%>value="<%=emailmessage%>" <%}%>><%if (typeof emailmessage !== "undefined") {%><%=emailmessage%><%}%></textarea><br><br><br>
                <div id="recaptcha_widget" style="display: none;">
                    <div id="recaptcha_image"></div>
                    <span class="recaptcha_only_if_image">Enter the words above:</span>
                    <span class="recaptcha_only_if_audio">Enter the numbers you hear:</span>
                    <br><input id="recaptcha_response_field" name="recaptcha_response_field" type="text" class="width50">
                    <br><strong style="font-size: 10px;"><a href="javascript:Recaptcha.reload();">Get another CAPTCHA</a></strong>

                    <!--div class="recaptcha_only_if_image"><a href="javascript:Recaptcha.switch_type('audio')">Get an audio CAPTCHA</a></div><br />
                    <div class="recaptcha_only_if_audio"><a href="javascript:Recaptcha.switch_type('image')">Get an image CAPTCHA</a></div><br /><br />
                    <div><a href="javascript:Recaptcha.showhelp()">Help</a><br />
                    </div-->

                    <script type="text/javascript" src="http://api.recaptcha.net/challenge?k=6Lf6yRAUAAAAAIUum-58aneAsxUsLWbVrMhRiQ-c"></script>

                    <noscript>
                    <iframe src="http://api.recaptcha.net/noscript?k=k=6Lf6yRAUAAAAAIUum-58aneAsxUsLWbVrMhRiQ-c" height="200" width="500" frameborder="0"></iframe>
                    <textarea name="recaptcha_challenge_field" rows="3" class="width50"></textarea>
                    <input type="'hidden'" name="'recaptcha_response_field'" value="'manual_challenge'">
                    </noscript>
                </div><br><br><br>
                <input type="submit" value="Submit" class="button">
            </form>
        </div>
    </section>
    </div>
</div>

<% include layoutBottom %>