<%- include('layoutTop'); %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
        <% if (isAuthenticated) { %>
            <div id="biglayout" style="float:right;">
                <span style="font-size:15px;">Featured Fresh Coat from <a href='/profile/<%= featureuser.username %>'><%= featureuser.username %></a>:<br><br></span>
                <a href="/freshcoats/<%= featureid %>"><img id="polish-image" src="<%= featurephoto %>" alt=""></a>
            </div>
        <% } else { %>
            <div id="biglayout">
                <img id="polish-image" src="/images/swatchwheels.JPG" alt="">
            </div>
        <% } %>
        <div id="welcome">
            <% if (!isAuthenticated) { %>
                <h2>Welcome to Lacquer Tracker!</h2>
                <br><br>
                <span style="font-size:15px">Lacquer Tracker is the easy and fun way to digitally track and organize your nail polish collection.<br><br>It's like having a virtual nail polish rack at your fingertips!</span><br><br><br>
                💅 Search the database of over 10,000 nail polish colors, tools, and accessories, including photos/swatches, reviews, and dupes.<br><br>
                💅 Categorize polish as owned or wanted to build your stash and keep track of your wish list.<br><br>
                💅 Rate polish, leave reviews, or enter notes only visible to you.<br><br>
                💅 Check in your current mani and gain inspiration from the nail art your fellow lacqueristas and lacqueristos are creating.<br><br>
                💅 Ask questions, discuss techniques, participate in contests, and more in the forums.<br><br>
                💅 Your account syncs between our website and Andriod app, so you can think about polish no matter your device.<br><br><br>
                <h4><a href="/login">Log in</a> or <a href="/signup">sign up</a> now!</h4>
            <% } else if (isAuthenticated) { %>
                <h2>Welcome back to Lacquer Tracker, <%=user.username%>!</h2>
                <br><br>
                <% if ((intro.length == 0) && (newuser == true)) {%>
                    <span style="font-size:15px">&#9658; <a href="/forums/intro/add">Click here to introduce yourself in the forums!</a></span>
                    <br><br><br>
                <% } %>
                <% if ((user.checkins.length == 0) && (newuser == false)) {%>
                    <span style="font-size:15px">&#9658; <a href="/freshcoats">Click here to share your first fresh coat!</a></span>
                    <br><br><br>
                <% } %>
                <% if (checkinreminder == true) {%>
                    <span style="font-size:15px">&#9658; <a href="/freshcoats/add">Click here to share your latest fresh coat!</a></span>
                    <br><br><br>
                <% } %>
                <span style="font-size:15px">Your Polish Stats:<br><br></span>
                <ul style="padding-left:25px">
                    <li>Polish Owned: <%= ownedpolish.length %></li><br>
                        <ul>
                            <% if (ownedMostFrequent.length == 1) { %>
                                <li>Most Owned Brand: <%= ownedMostFrequent %></li><br>
                            <% } else { %>
                                <li>Most Owned Brands:</li>
                                    <ul>
                                    <% for (i=0; i<ownedMostFrequent.length; i++) { %>
                                        <li><%= ownedMostFrequent[i] %></li>
                                    <% } %>
                                    </ul><br>
                            <% } %>
                        </ul><br>
                    <li>Tools/Accessories Owned: <%= ownedaccessories.length %></li><br><br>
                    <li>Items on Wishlist: <%= user.wantedpolish.length %></li><br>
                        <ul>
                            <% if (wantedMostFrequent.length == 1) { %>
                                <li>Most Wanted Brand: <%= wantedMostFrequent %></li><br>
                            <% } else { %>
                                <li>Most Wanted Brands:</li>
                                    <ul>
                                    <% for (i=0; i<wantedMostFrequent.length; i++) { %>
                                        <li><%= wantedMostFrequent[i] %></li>
                                    <% } %>
                                    </ul><br>
                            <% } %>
                        </ul><br>
                    <li>Fresh Coats Posted: <%= user.checkins.length %></li>
                </ul>
            <% } %>
        </div>
        <div id="smalllayout">
            <% if (isAuthenticated) { %>
                <br><hr><br>
                <span style="font-size:15px">Featured Fresh Coat from <a href='/profile/<%= featureuser.username %>'><%= featureuser.username %></a>:<br><br></span>
                <a href="/freshcoats/<%= featureid %>"><img id="polish-image" src="<%= featurephoto %>" alt=""></a></center>
            <% } else { %>
                <br><br>
                <img id="polish-image" src="/images/swatchwheels.JPG" alt=""></center>
            <% } %>
        </div>
    </section>
    </div>
</div>

<%- include('layoutBottom'); %>