<% include layoutTop %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    	<section>
        <h2><%= pbrand %> - <%= pname %></h2><br><br>
        <div id="swatchsmall" style="background-color:<%= pcolorhex %>">&nbsp;</div><br>
        <b>Code:</b> <%= pcode %><br><br>
        <b>Collection:</b> <%= pbatch %><br><br>
        <b>Color:</b> <%= pcolorcat %><br><br>
        <b>Type:</b> <%= ptype %><br><br>
        [<i><a href="/editpolish/<%= pid %>">Edit or correct this information</a></i>]
        <br><br><hr><br><br>
        <% if (isAuthenticated()) { %>
            <h5>Your Rating:</h5><br><%= rating %><br><br><br><br>
            <h5>Your Review:</h5><br><%= userreview %><br><br><br><br>
            <h5>Your Notes:</h5><br><%= notes %><br><br><br><br>
            <h5>Dupes You've Added:</h5><br><%= dupes %><br><br>
            [<i><a href="/editreview/<%= pid %>">Edit your review</a></i>]
            <br><br><hr><br><br>
        <% } %>
        <h5>All User Reviews:</h5><br>
        <% for (i=0; i<allreviews.length; i++) {%>
            <% if (allreviews[i].length > 1) { %>
                &bull; <%= allreviews[i] %><br><br>
            <% } %>
        <% } %><br><br><br><br>
        <h5>All Submitted Dupes:</h5><br>
        <% for (i=0; i<alldupes.length; i++) {%>
            <% if (alldupes[i].length > 1) { %>
                &bull; <%= alldupes[i] %><br><br>
            <% } %>
        <% } %><br><br><br><br>
        </section>
    </div>
</div>

<% include layoutBottom %>