<% include layoutTop %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
        <h3><%= username %>'s Profile</h3><br><br>
		<% if (message) { %>
        	<h4><%= message %></h4>
    	<% } %>
        <% if (about.length > 0) { %>
            <p style="white-space: pre;"><%= about %></p><br><br>
        <% } %>
        <% if (opolishes.length > 0) { %>
            <h4><%= username %>'s Owned Polishes (<%= opolishes.length %>):</h4><br>
            <table id="ownedpolish" class="sortable">
                <tr><th>Name</th><th>Brand</th><th>Collection</th><th>Color</th><th>Swatch</th><th>Type</th><th>Options</th></tr>
            <% for(var i=0; i<opolishes.length; i++) {%>
                <%- opolishes[i] %>
            <% } %>
            </table><br><br>
        <% } %>

        <% if (opolishes.length > 0) { %>
            <h4><%= username %>'s Wanted Polishes (<%= wpolishes.length %>):</h4><br>
            <table id="wantedpolish" class="sortable">
                <tr><th>Name</th><th>Brand</th><th>Collection</th><th>Color</hh><th>Swatch</th><th>Type</th><th>Options</th></tr>
                <% for(var i=0; i<wpolishes.length; i++) {%>
                <%- wpolishes[i] %>
                <% } %>
            </table><br><br>
        <% } %>
        </table>
    </section>
    </div>
</div>

<% include layoutBottom %>