<% include layoutTop %>

<script>
$(window).load(function () {
    $('.collage').collagePlus({
        'targetHeight' : 350,
        'allowPartialLastRow' : true,
    });
});
</script>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
        <div>
            <img class="profilephoto" src="<%= profilephoto %>">
        </div>
        <div id="biglayout">
            <h3 style="display:inline-block"><%= username %>'s Profile</h3>
            <% if (isAuthenticated()) { %>
                <% if (user.username === username) { %>
                    - <a href="/profile/<%= username %>/edit">Edit your profile</a>
                <% } else if (useremail === "on") {%>
                    - <a href="/email/<%= username %>">Send a message</a>
                <% } %>
            <% } %>
            <br><br><p style="white-space: pre; padding-left: 3em"><%- about %></p><br><br><br>
        </div>
        <div id="smalllayout">
            <h3 style="display:inline-block"><%= username %>'s Profile</h3>
            <% if (isAuthenticated()) { %>
                <% if (user.username === username) { %>
                    <br><br><a href="/profile/<%= username %>/edit">Edit your profile</a>
                <% } else if (useremail === "on") {%>
                    <br><br><a href="/email/<%= username %>">Send a message</a>
                <% } %>
            <% } %>
            <br><br><br><p style="white-space: pre; padding-left: 3em"><%- about %></p>
        </div>
        <div>
            <% if (opolishes.length > 0) { %>
                <br><br><h4><%= username %>'s Owned Polishes (<%= opolishes.length %>):</h4><br>
                <table id="ownedpolish" class="sortable ownedtable">
                    <tr><th class="name"><span>Name</span></th><th class="brand"><span>Brand</span></th><th class="collection"><span>Collection</span></th><th class="color"><span>Color</span></th><th class="swatch"><span>Swatch</span></th><th class="type"><span>Type</span></th><th class="rating"><span>Rating</span></th></tr>
                <% for(var i=0; i<opolishes.length; i++) {%>
                    <tr><td><a id='tablelink' href='/polish/<%= opolishes[i].brand.replace(/ /g,"_") %>/<%= opolishes[i].name.replace(/ /g,"_") %>'><span><%= opolishes[i].name %></span></a></td>
                    <td><span><%= opolishes[i].brand %></span></td>
                    <td><span><%= opolishes[i].batch %></span></td>
                    <td class="colorcat"><p><%= opolishes[i].colorcat %></p>
                        <% if (opolishes[i].colorcat.length > 0) {%>
                            <img src="/images/colors/<%= opolishes[i].colorcat %>.png"/>
                        <%}%>
                    </td>
                    <td class="tableswatch"><% if (opolishes[i].swatch.length > 0) {%>
                            <img src="<%=opolishes[i].swatch%>"/>
                        <%} else {%>
                            &nbsp;
                        <%}%>
                    </td>
                    <td>
                        <% if (opolishes[i].type === "topbase") {%><span>top/base coat</span>
                        <%} else if (opolishes[i].type === "glow") {%><span>glow in the dark</span>
                        <%} else {%><span><%= opolishes[i].type %></span><%}%>
                    </td>
                    <td><% if (typeof oreviews[i] !== "undefined" && oreviews[i].rating > 0) { %>
                            <img class="starrating" src="/images/stars/<%=oreviews[i].rating%>star.png"/>
                        <% } %>
                    </td></tr>
                <% } %>
                </table>
            <% } %>

            <% if (wpolishes.length > 0) { %>
                <br><br><h4><%= username %>'s Wanted Polishes (<%= wpolishes.length %>):</h4><br>
                    <table id="wantedpolish" class="sortable wantedtable">
                        <tr><th class="name"><span>Name</span></th><th class="brand"><span>Brand</span></th><th class="collection"><span>Collection</span></th><th class="color"><span>Color</span></th><th class="swatch"><span>Swatch</span></th><th class="type"><span>Type</span></th></tr>
                    <% for(var i=0; i<wpolishes.length; i++) {%>
                        <tr><td><a id='tablelink' href='/polish/<%= wpolishes[i].brand.replace(/ /g,"_") %>/<%= wpolishes[i].name.replace(/ /g,"_") %>'><span><%= wpolishes[i].name %></span></a></td>
                        <td><span><%= wpolishes[i].brand %></span></td>
                        <td><span><%= wpolishes[i].batch %></span></td>
                        <td class="colorcat"><p><%= wpolishes[i].colorcat %></p>
                            <% if (wpolishes[i].colorcat.length > 0) {%>
                                <img src="/images/colors/<%= wpolishes[i].colorcat %>.png"/>
                            <%}%>
                        </td>
                        <td class="tableswatch"><% if (wpolishes[i].swatch.length > 0) {%>
                                <img src="<%=wpolishes[i].swatch%>"/>
                            <%} else {%>
                                &nbsp;
                            <%}%>
                        </td>
                            <% if (wpolishes[i].type === "topbase") {%><span>top/base coat</span>
                            <%} else if (wpolishes[i].type === "glow") {%><span>glow in the dark</span>
                            <%} else {%><span><%= wpolishes[i].type %></span><%}%>
                        </td>
                    <% } %>
                    </table>
            <% } %>

            <% if (photos.length > 0) { %>
                <br><br><h4><%= username %>'s Photos (<%= photos.length %>):</h4><br>
                <div class="collage">
                    <% for (i=0; i<photos.length; i++) { %>
                        <img src="<%= photos[i].location %>">
                    <% } %>
                </div>
            <% } %>
        </div>
    </section>
    </div>
</div>

<script>
$(function() {
  $('span').each(function() {
    var fontSize = 100;
    while (this.scrollWidth > $(this).width() && fontSize > 0) {
      // adjust the font-size 5% at a time
      fontSize -= 5;
      $(this).css('font-size', fontSize + '%');
    }
  });
});

window.onload = function() {
    (document.getElementsByTagName( 'th' )[8]).click();
    (document.getElementsByTagName( 'th' )[1]).click();
};
</script>

<% include layoutBottom %>