<% include layoutTop %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    	<section>
            <div id="biglayout">
                <form action="/profile/<%= username %>/edit" method="post">
                    <h3>Edit your profile:</h3><br><br>
                    <a href="/photo/profile">Upload or change your avatar</a> | <a href="/photo/upload">Add a photo to your profile</a><br><br><br>
                    Email: <i>(This is only visible to you.)</i><br><input type="text" name="email" value="<%= email %>" class="width40"><br><br>
                    <input type="checkbox" name="notifications" <% if (notifications === "on") { %> checked <% } %>>Receive e-mail notifications for new comments on your posts?<br><br>
                    <input type="checkbox" name="useremail" <% if (useremail === "on") { %> checked <% } %>>Allow users to send you e-mail? (Your e-mail address will not be visible.)<br><br><br><br>
                    All about you: <i>(Tell us about yourself! How did you get into nail polish? What are your other hobbies?)</i><br><textarea class="markItUp" type="text" name="about" value="<%= about %>"><%= about %></textarea><br><br>
                    <input type="submit" value="Submit" class="button">
                </form>
            </div>
            <div id="smalllayout">
                <form action="/profile/<%= username %>/edit" method="post">
                    <h3>Edit your profile:</h3><br><br>
                    <a href="/photo/profile">Upload or change your avatar</a><br><br><a href="/photo/upload">Add a photo to your profile</a><br><br><br>
                    Email: <i>(This is only visible to you.)</i><br><input type="text" name="email" value="<%= email %>" class="width40"><br><br>
                    <input type="checkbox" name="notifications" <% if (notifications === "on") { %> checked <% } %>>Receive e-mail notifications for new comments on your posts?<br><br>
                    <input type="checkbox" name="useremail" <% if (useremail === "on") { %> checked <% } %>>Allow users to send you e-mail? (Your e-mail address will not be visible.)<br><br><br><br>
                    All about you: <i>(Tell us about yourself! How did you get into nail polish? What are your other hobbies?)</i><br><textarea class="markItUp" type="text" name="about" value="<%= about %>"><%= about %></textarea><br><br>
                    <input type="submit" value="Submit" class="button">
                </form>
            </div>
            <div>
                <% if (yesphotos.length > 0) { %>
                    <br><br><hr><br><br>
                    <h3>Remove Photos From Appearing on Your Profile Page</h3><br><br>
                    <% for (i=0; i < yesphotos.length; i++) { %>
                        <img class="userphotosmall" src="<%= yesphotos[i].location %>"><br><a href="/profile/<%= username %>/<%= yesphotos[i].id %>/remove">Remove from profile</a> | <a href="/profile/<%= username %>/<%= yesphotos[i].id %>/delete">Delete this photo</a><br><br>
                    <% } %>
                <% } %>
                <% if (nophotos.length > 0) { %>
                    <br><br><hr><br><br>
                    <h3>Add Photos to Appear on Your Profile Page</h3><br><br>
                    <% for (i=0; i < nophotos.length; i++) { %>
                        <img class="userphotosmall" src="<%= nophotos[i].location %>"><br><a href="/profile/<%= username %>/<%= nophotos[i].id %>/add">Add to profile</a> | <a href="/profile/<%= username %>/<%= nophotos[i].id %>/delete">Delete this photo</a><br><br>
                    <% } %>
                <% } %>
            </div>
        </section>
    </div>
</div>

<% include layoutBottom %>