<% include layoutTop %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    	<section>
    		<form action="/profile/<%= username %>/edit" method="post">
	     		<h3>Edit your profile:</h3><br><br>
                <a href="/photo/profile">Upload or change your avatar here!</a> | <a href="/photo/upload">Add a photo to your profile</a><br><br><br><br>
    			Email: <i>(This is only visible to you and will be used if you need to reset your password.)</i><br><input type="text" name="email" value="<%= email %>" size="63" class="restrict"><br><br><br>
                All about you: <i>(Tell us about yourself! How did you get into nail polish? What are your other hobbies?</i><br><textarea class="markItUp restrict" type="text" name="about" value="<%= about %>" cols="60" rows="20"><%= about %></textarea><br><br>
                <input type="submit" value="Submit" class="button">
            </form>
            <% if (message) { %>
                <br><h4><%= message %></h4>
            <% } %>
            <% if (yesphotos.length > 0) { %>
                <br><br><hr><br><br>
                <h3>Remove Photos From Appearing on Your Profile Page</h3><br><br>
                <% for (i=0; i < yesphotos.length; i++) { %>
                    <img class="userphotosmall" src="<%= yesphotos[i].location %>"><br><a href="/profile/<%= username %>/<%= yesphotos[i].id %>/remove">Remove from profile</a> | <a href="/profile/<%= username %>/<%= yesphotos[i].id %>/delete">Delete this photo</a><br><br>
                <% } %>
            <% } %>
            <% if (nophotos.length > 0) { %>
                <br><br><hr><br><br>
                <h3>Add Photos to Appear on Your Profile Page</h3><br><br>
                <% for (i=0; i < nophotos.length; i++) { %>
                    <img class="userphotosmall" src="<%= nophotos[i].location %>"><br><a href="/profile/<%= username %>/<%= nophotos[i].id %>/add">Add to profile</a> | <a href="/profile/<%= username %>/<%= nophotos[i].id %>/delete">Delete this photo</a><br><br>
                <% } %>
            <% } %>
        </section>
    </div>
</div>


<% include layoutBottom %>