<% include layoutTop %>

<script>
$(window).load(function () {
    $('.collage').collagePlus({
        'targetHeight' : 350,
        'allowPartialLastRow' : true,
    });
});
</script>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
		<% if (message) { %>
        	<h4><%= message %></h4>
    	<% } %>
        <% if (username.length > 0) { %>
            <h3><%= username %>'s Profile</h3>
            <% if (isAuthenticated()) { %>
                <% if (user.username === username) { %>
                    <br><a href="/profile/<%= username %>/edit">Edit your profile</a>
                <% } %>
            <% } %>
            <br><br><p style="white-space: pre; padding-left: 3em"><%- about %></p><br><br>
        <% } %>


        <% if (opolishes.length > 0) { %>
            <br><br><h4><%= username %>'s Owned Polishes (<%= opolishes.length %>):</h4><br>
            <table id="ownedpolish" class="sortable">
                <tr><th>Name</th><th>Brand</th><th>Collection</th><th>Color</th><th>Swatch</th><th>Type</th><th>Options</th></tr>
            <% for(var i=0; i<opolishes.length; i++) {%>
                <%- opolishes[i] %>
            <% } %>
            </table>
        <% } %>

        <% if (opolishes.length > 0) { %>
            <br><br><h4><%= username %>'s Wanted Polishes (<%= wpolishes.length %>):</h4><br>
            <table id="wantedpolish" class="sortable">
                <tr><th>Name</th><th>Brand</th><th>Collection</th><th>Color</hh><th>Swatch</th><th>Type</th><th>Options</th></tr>
                <% for(var i=0; i<wpolishes.length; i++) {%>
                <%- wpolishes[i] %>
                <% } %>
            </table>
        <% } %>

        <% if (photos.length > 0) { %>
            <br><br><h4><%= username %>'s Photos (<%= photos.length %>):</h4><br>
            <div class="collage">
                <% for (i=0; i<photos.length; i++) { %>
                    <img src="<%= photos[i].location %>">
                <% } %>
            </div>
        <% } %>
    </section>
    </div>
</div>

<% include layoutBottom %>