<%- include('layoutTop'); %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
        <div>
            <h2>Polish Picker</h2>
            <% if (results == false) { %>
                <br><br>
                Can't decide on a polish? Generate a manicure based on your collection!
                <br><br><br>
            <% } %>
            <% if (results == true) { %>
                <br><br><br>
                <% if (message2.length > 0 && polish.length > 0) { %>
                    <%= message2%> <b><%=chosenTechnique%></b> <%=message3%><br><br><br>
                <% } else { %>
                    <%= message %><br><br><br>
                <% } %>
                <% if (polish.length > 0) { %>
                    <table>
                        <tr>
                            <th style="width:25%"><span>Name</span></th>
                            <th style="width:25%"><span>Brand</span></th>
                            <th style="width:15%"><span>Swatch</span></th>
                            <th style="width:20%"><span>Type</span></th>
                            <th style="width:15%"><span>Option</span></th>
                        </tr>
                        <% for(var i=0; i<polish.length; i++) {%>
                            <tr>
                                <td>
                                    <a id='tablelink' href='/polish/<%= polish[i].brand.replace(/ /g,"_") %>/<%= polish[i].name.replace(/ /g,"_") %>'><span><%= polish[i].name %></span></a>
                                </td>
                                <td>
                                    <a id='tablelink' href='/brand/<%= polish[i].brand.replace(/ /g,"_") %>'><span><%= polish[i].brand %></span></a>
                                </td>
                                <td class="tableswatch">
                                    <% if (polish[i].swatch.length > 0) {%>
                                        <img src="<%=polish[i].swatch%>">
                                    <%} else {%>
                                        <img src="/images/swatches/noswatch.jpg">
                                    <%}%>
                                </td>
                                <td>
                                    <span><%= polish[i].type.toString().replace(/,/g,", ") %></span>
                                </td>
                                <td>
                                    <span class="reroll"><a href="#">Reroll</a></span>
                                </td>
                            </tr>
                        <% } %>
                        <% if (chosenTechniqueAccessory !== '') {%>
                            <tr>
                                <td>
                                    <a id='tablelink' href='/polish/<%= chosenTechniqueAccessory.brand.replace(/ /g,"_") %>/<%= chosenTechniqueAccessory.name.replace(/ /g,"_") %>'><span><%= chosenTechniqueAccessory.name %></span></a>
                                </td>
                                <td>
                                    <a id='tablelink' href='/brand/<%= chosenTechniqueAccessory.brand.replace(/ /g,"_") %>'><span><%= chosenTechniqueAccessory.brand %></span></a>
                                </td>
                                <td class="tableswatch">
                                    <% if (chosenTechniqueAccessory.swatch.length > 0) {%>
                                        <img src="<%=polish[i].swatch%>">
                                    <%} else {%>
                                        <img src="/images/swatches/noswatch.jpg">
                                    <%}%>
                                </td>
                                <td>
                                    <span><%= chosenTechniqueAccessory.type.toString().replace(/,/g,", ") %></span>
                                </td>
                                <td>
                                    <span class="rerollaccessory"><a href="#">Reroll</a></span>
                                </td>
                            </tr>
                        <% } %>
                    </table>
                <% } %>
                <br><br><br><br>
                <b>Try again?</b><br><br><br>
            <% } %>
            <form action="/random" method="post" enctype="multipart/form-data">
                Number of polishes: 
                <select name="number">
                    <option value="surprise" <% if (number=="surprise") { %> selected="selected" <% } %>>Surprise me!</option>
                    <option value="1" <% if (number=="1") { %> selected="selected" <% } %>>1</option>
                    <option value="2" <% if (number=="2") { %> selected="selected" <% } %>>2</option>
                    <option value="3" <% if (number=="3") { %> selected="selected" <% } %>>3</option>
                    <option value="4" <% if (number=="4") { %> selected="selected" <% } %>>4</option>
                    <option value="5" <% if (number=="5") { %> selected="selected" <% } %>>5</option>
                </select>
                <br><br><br>
                Suggest a technique or style? 
                <select name="technique">
                    <option value="no" <% if (technique=="no") { %> selected="selected" <% } %>>No</option>
                    <option value="surprise" <% if (technique=="surprise") { %> selected="selected" <% } %>>Surprise me!</option>
                    <% if (plate == true) { %><option value="plate" <% if (technique=="plate") { %> selected="selected" <% } %>>Stamping plate</option><% } %>
                    <% if (vinyl == true) { %><option value="vinyl" <% if (technique=="vinyl") { %> selected="selected" <% } %>>Vinyl/stencil</option><% } %>
                    <% if (loose == true) { %><option value="loose" <% if (technique=="loose") { %> selected="selected" <% } %>>Loose accessory</option><% } %>
                    <% if (sticker == true) { %><option value="sticker" <% if (technique=="sticker") { %> selected="selected" <% } %>>Sticker</option><% } %>
                </select>
                <br><br><br>
                <input type="submit" class="button" value="Submit"/>
            </form>
        </div>
    </section>
    </div>
</div>

<script>
$('span').each(function() {
    var fontSize = 100;
    while (this.scrollWidth > $(this).width() && fontSize > 0) {
        // adjust the font-size 5% at a time
        fontSize -= 5;
        $(this).css('font-size', fontSize + '%');
    }
});

$('.reroll').click(function () {
    var nextPolish = <%-JSON.stringify(allPolish)%>[Math.floor(Math.random() * <%-JSON.stringify(allPolish)%>.length)];
    $(this).closest('tr').find('td').eq(0).replaceWith("<td><a id='tablelink' href='/polish/"+nextPolish.brand.replace(/ /g,"_")+"/"+nextPolish.name.replace(/ /g,"_")+"'><span>"+nextPolish.name+"</span></a></td>");
    $(this).closest('tr').find('td').eq(1).replaceWith("<td><a id='tablelink' href='/brand/"+nextPolish.brand.replace(/ /g,"_")+"'><span>"+nextPolish.brand+"</span></a></td>");
    if (nextPolish.swatch.length > 0) {
        $(this).closest('tr').find('td').eq(2).replaceWith("<td class='tableswatch'><img src='"+nextPolish.swatch+"'></td>");
    } else {
        $(this).closest('tr').find('td').eq(2).replaceWith("<td class='tableswatch'><img src='/images/swatches/noswatch.jpg'></td>");
    }
    $(this).closest('tr').find('td').eq(3).replaceWith("<td><span>"+nextPolish.type.toString().replace(/,/g,", ")+"</span></td>");
    $('span').each(function() {
        var fontSize = 100;
        while (this.scrollWidth > $(this).width() && fontSize > 0) {
            // adjust the font-size 5% at a time
            fontSize -= 5;
            $(this).css('font-size', fontSize + '%');
        }
    });
});

$('.rerollaccessory').click(function () {
    var nextAccessory = <%-JSON.stringify(allChosenTechniqueAccessories)%>[Math.floor(Math.random() * <%-JSON.stringify(allChosenTechniqueAccessories)%>.length)];
    $(this).closest('tr').find('td').eq(0).replaceWith("<td><a id='tablelink' href='/polish/"+nextAccessory.brand.replace(/ /g,"_")+"/"+nextAccessory.name.replace(/ /g,"_")+"'><span>"+nextAccessory.name+"</span></a></td>");
    $(this).closest('tr').find('td').eq(1).replaceWith("<td><a id='tablelink' href='/brand/"+nextAccessory.brand.replace(/ /g,"_")+"'><span>"+nextAccessory.brand+"</span></a></td>");
    if (nextAccessory.swatch.length > 0) {
        $(this).closest('tr').find('td').eq(2).replaceWith("<td class='tableswatch'><img src='"+nextAccessory.swatch+"'></td>");
    } else {
        $(this).closest('tr').find('td').eq(2).replaceWith("<td class='tableswatch'><img src='/images/swatches/noswatch.jpg'></td>");
    }
    $(this).closest('tr').find('td').eq(3).replaceWith("<td><span>"+nextAccessory.type.toString().replace(/,/g,", ")+"</span></td>");
    $('span').each(function() {
        var fontSize = 100;
        while (this.scrollWidth > $(this).width() && fontSize > 0) {
            // adjust the font-size 5% at a time
            fontSize -= 5;
            $(this).css('font-size', fontSize + '%');
        }
    });
});
</script>

<%- include('layoutBottom'); %>