<% include layoutTop %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
        <section>
            <div>
                <form action="/swatch/add/<%= pid %>" method="post" enctype='multipart/form-data'>
                    <h3>Choose a photo to crop into swatch:</h3><br>
                    Polish Name: <input type="text" name="name" value="<%= pname %>" placeholder="<%= pname %>" disabled><br><br>
                    Polish Brand: <input type="text" value="<%= pbrand %>" name="brand" placeholder="<%= pbrand %>" disabled><br><br>
                    Image for Upload: <input type="file" value="photo" name="photo" required>
                    <br><br>
                    <input type="submit" value="Submit" class="button">
                </form>
            </div>
        </section>
    </div>
</div>

<% include layoutBottom %>