<% include layoutTop %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    	<section>
    		<form action="/polishedit/<%= editid %>" method="post">
	     		<h3>Edit polish:</h3><br>
    			Name: <input type="text" name="name" value="<%= editname %>" class="fullwidth" readonly="readonly" required><br><br><br>
                Brand: <input type="text" name="brand" value="<%= editbrand %>" class="fullwidth" readonly="readonly" required><br><br><br>
                Collection: <input type="text" name="batch" value="<%= editbatch %>" class="fullwidth"> <i>Please format like: 2013 Off Shore (Summer)</i><br><br><br>
                Code: <input type="text" name="code" value="<%= editcode %>" class="fullwidth" class="restrict"><br><br><br>
                Color: <select name="colorcat">
                    <option value="">select a color category</option>
                    <option value="black" <% if (editcolorcat === "black") { %> selected="selected" <%}%>>black</option>
                    <option value="blue" <% if (editcolorcat === "blue") { %> selected="selected" <%}%>>blue</option>
                    <option value="brown" <% if (editcolorcat === "brown") { %> selected="selected" <%}%>>brown</option>
                    <option value="clear" <% if (editcolorcat === "clear") { %> selected="selected" <%}%>>clear</option>
                    <option value="gold" <% if (editcolorcat === "gold") { %> selected="selected" <%}%>>gold</option>
                    <option value="green" <% if (editcolorcat === "green") { %> selected="selected" <%}%>>green</option>
                    <option value="grey" <% if (editcolorcat === "grey") { %> selected="selected" <%}%>>grey</option>
                    <option value="nude" <% if (editcolorcat === "nude") { %> selected="selected" <%}%>>nude</option>
                    <option value="orange" <% if (editcolorcat === "orange") { %> selected="selected" <%}%>>orange</option>
                    <option value="pink" <% if (editcolorcat === "pink") { %> selected="selected" <%}%>>pink</option>
                    <option value="purple" <% if (editcolorcat === "purple") { %> selected="selected" <%}%>>purple</option>
                    <option value="red" <% if (editcolorcat === "red") { %> selected="selected" <%}%>>red</option>
                    <option value="silver" <% if (editcolorcat === "silver") { %> selected="selected" <%}%>>silver</option>
                    <option value="white" <% if (editcolorcat === "white") { %> selected="selected" <%}%>>white</option>
                    <option value="yellow" <% if (editcolorcat === "yellow") { %> selected="selected" <%}%>>yellow</option>
                    </select><br>
                    <input class="color" value="<%= editcolorhex %>" name="colorhex"><br><br>
                Type: <select name="type">
                    <option value="">select a special type</option>
                    <option value="colorchange" <% if (edittype === "colorchange") { %> selected="selected" <%}%>>color changing</option>
                    <option value="crackle" <% if (edittype === "crackle") { %> selected="selected" <%}%>>crackle</option>
                    <option value="creme" <% if (edittype === "creme") { %> selected="selected" <%}%>>creme</option>
                    <option value="flakie" <% if (edittype === "flakie") { %> selected="selected" <%}%>>flakie</option>
                    <option value="glitter" <% if (edittype === "glitter") { %> selected="selected" <%}%>>glitter</option>
                    <option value="glow" <% if (edittype === "glow") { %> selected="selected" <%}%>>glow in the dark</option>
                    <option value="holo" <% if (edittype === "holo") { %> selected="selected" <%}%>>holo</option>
                    <option value="jelly" <% if (edittype === "jelly") { %> selected="selected" <%}%>>jelly</option>
                    <option value="magnetic" <% if (edittype === "magnetic") { %> selected="selected" <%}%>>magnetic</option>
                    <option value="matte" <% if (edittype === "matte") { %> selected="selected" <%}%>>matte</option>
                    <option value="metallic" <% if (edittype === "metallic") { %> selected="selected" <%}%>>metallic</option>
                    <option value="neon" <% if (edittype === "neon") { %> selected="selected" <%}%>>neon</option>
                    <option value="sheer" <% if (edittype === "sheer") { %> selected="selected" <%}%>>sheer</option>
                    <option value="shimmer" <% if (edittype === "shimmer") { %> selected="selected" <%}%>>shimmer</option>
                    <option value="texture" <% if (edittype === "texture") { %> selected="selected" <%}%>>texture</option>
                    <option value="topbase" <% if (edittype === "topbase") { %> selected="selected" <%}%>>top/base coat</option>
                    </select><br><br><br>
                Is this an indie?: <select name="indie" selected="<%= editindie %>">
                    <option value="off"<% if (editindie === "off") { %> selected="selected" <%}%>>no</option>
                    <option value="on"<% if (editindie === "on") { %> selected="selected" <%}%>>yes</option>
                    </select><br><br><br>
                Dupes:<br><textarea name="dupes" value="<%= editdupes %>" class="fullwidth" rows="5"><%= editdupes %></textarea><br><br><br><br>
                <input type="submit" value="Submit" class="button">
            </form>
            <% if (message) { %>
                <br><h4><%= message %></h4>
            <% } %>
        </section>
    </div>
</div>

<% include layoutBottom %>