<%- include('../layoutTop'); %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    	<section>
            <div>
                <% if (typeof message !== "undefined") { %>
                    <center><b><%= message %></b><br><br><br><br></center>
                <% } %>
                <h3>Add a new polish:</h3><br><br>
                <i>Have a spreadsheet of many polishes to add all at once? <a href="/import">Import them here.</a><br><br></i><br>
        		<form action="/polishadd" method="post">
        			Name:<br><input type="text" name="name" class="width50" required autofocus><br><br><br>
        			Brand:<br><input type="text" list="brands" name="brand" class="width50" placeholder="If unbranded, choose 'Unknown'" required><br><br><br>
                    Collection:<br><input type="text" name="batch" class="width50" placeholder="Leave blank if unknown"><br><i>Please format like: 2013 Off Shore (Summer)</i><br><br><br>
                    Code:<br><input type="text" name="code" class="width50" placeholder="Leave blank if unknown"><br><br><br>
                    Color:<br><ul>
                    <input type="checkbox" name="colorcategory" value="black">Black<br>
                    <input type="checkbox" name="colorcategory" value="blue">Blue<br>
                    <input type="checkbox" name="colorcategory" value="brown">Brown<br>
                    <input type="checkbox" name="colorcategory" value="gray">Gray<br>
                    <input type="checkbox" name="colorcategory" value="green">Green<br>
                    <input type="checkbox" name="colorcategory" value="orange">Orange<br>
                    <input type="checkbox" name="colorcategory" value="pink">Pink<br>
                    <input type="checkbox" name="colorcategory" value="purple">Purple<br>
                    <input type="checkbox" name="colorcategory" value="red">Red<br>
                    <input type="checkbox" name="colorcategory" value="white">White<br>
                    <input type="checkbox" name="colorcategory" value="yellow">Yellow<br>
                    </ul><br><br><br>
                    Type:<br><ul>
                    Polish Types:<br>
                    <% for (i=0; i<types.length; i++) { %>
                        <% if (types[i].category == "polish") { %>
                            <input type="checkbox" name="type" value="<%=types[i].name%>"><%=types[i].display%><br>
                        <% } %>
                    <% } %>
                    <br>Tool/Accessory Types:<br>
                    <% for (i=0; i<types.length; i++) { %>
                        <% if (types[i].category == "tool") { %>
                            <input type="checkbox" name="type" value="<%=types[i].name%>"><%=types[i].display%><br>
                        <% } %>
                    <% } %>
                    </ul><br><br><br>
                    <input type="submit" value="Submit" class="button">
        		</form>
            </div>
        </section>
    </div>
</div>

<datalist id="brands">
    <% for (i=0; i<brands.length; i++) {%>
        <option value="<%=brands[i]%>">
    <% } %>
</datalist>

<%- include('../layoutBottom'); %>