<%- include('../layoutTop'); %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    	<section>
            <div>
                <% if (typeof message !== "undefined") { %>
                    <center><b><%= message %></b><br><br><br><br></center>
                <% } %>
        		<form action="/polishadd" method="post">
    	     		<h3>Add a new polish:</h3><br><br>
        			Name:<br><input type="text" name="name" class="width45" required autofocus><br><br><br>
        			Brand:<br><input type="text" list="brands" name="brand" class="width45" required><br><br><br>
                    Collection:<br><input type="text" name="batch" class="width45"><br><i>Please format like: 2013 Off Shore (Summer)</i><br><br><br>
                    Code:<br><input type="text" name="code" class="width45"><br><br><br>
                    Color Category: <br><ul>
                    <% for (i=0; i<colors.length; i++) { %>
                        <input type="checkbox" name="colorcat" value="<%=colors[i]%>"><%=colors[i]%><br>
                    <% } %>
                    </ul><br><br>
                    Types:<br><ul>
                    <% for (i=0; i<types.length; i++) { %>
                        <input type="checkbox" name="type" value="<%=types[i]%>"><%=types[i]%><br>
                    <% } %>
                    </ul><br><br><br>
                    Dupes:<br><textarea name="dupes" class="width45" rows="10"></textarea><br><br><br><br>
                    <input type="submit" value="Submit" class="button">
        		</form>
            </div>
        </section>
    </div>
</div>

<datalist id="brands">
    <% for (i=0; i<brands.length; i++) {%>
        <option value="<%=brands[i]%>">
    <% } %>
</datalist>

<%- include('../layoutBottom'); %>