<%- include('../layoutTop'); %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    	<section>
            <div>
                <% if (typeof message !== "undefined") { %>
                    <center><b><%= message %></b><br><br><br><br></center>
                <% } %>
                <h3>Add a new polish:</h3><br><br>
                <i>Have a spreadsheet of many polishes to add all at once? <a href="/import">Import them here.</a><br><br></i><br>
        		<form action="/polishadd" method="post">
        			Name:<br><input type="text" name="name" class="width50" required autofocus><br><br><br>
        			Brand:<br><input type="text" list="brands" name="brand" class="width50" required><br><br><br>
                    Collection:<br><input type="text" name="batch" class="width50" placeholder="Leave blank if unknown"><br><i>Please format like: 2013 Off Shore (Summer)</i><br><br><br>
                    Code:<br><input type="text" name="code" class="width50" placeholder="Leave blank if unknown"><br><br><br>
                    Type:<br><ul>
                    <% for (i=0; i<types.length; i++) { %>
                        <input type="checkbox" name="type" value="<%=types[i].name%>"><%=types[i].display%><br>
                    <% } %></ul><br><br><br>
                    Color:<br><ul>
                    <input type="checkbox" name="colorcategory" value="Black">Black<br>
                    <input type="checkbox" name="colorcategory" value="Blue">Blue<br>
                    <input type="checkbox" name="colorcategory" value="Brown">Brown<br>
                    <input type="checkbox" name="colorcategory" value="Gray">Gray<br>
                    <input type="checkbox" name="colorcategory" value="Green">Green<br>
                    <input type="checkbox" name="colorcategory" value="Orange">Orange<br>
                    <input type="checkbox" name="colorcategory" value="Pink">Pink<br>
                    <input type="checkbox" name="colorcategory" value="Purple">Purple<br>
                    <input type="checkbox" name="colorcategory" value="Red">Red<br>
                    <input type="checkbox" name="colorcategory" value="White">White<br>
                    <input type="checkbox" name="colorcategory" value="Yellow">Yellow<br>
                    </ul><br><br><br><br>
                    <input type="submit" value="Submit" class="button">
        		</form>
            </div>
        </section>
    </div>
</div>

<datalist id="brands">
    <% for (i=0; i<brands.length; i++) {%>
        <option value="<%=brands[i]%>">
    <% } %>
</datalist>

<%- include('../layoutBottom'); %>