<%- include('../layoutTop'); %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    	<section>
            <div>
        		<form action="/polishedit/<%= editid %>/dupes" method="post">
    	     		<h3>Add dupes:</h3><br><br>
        			Name:<br><input type="text" name="name" value="<%= editname %>" class="width45" <% if (isAuthenticated) { if (user.level !== "admin" || user.adminview !== true) { %> readonly="readonly" <% } } %> required><br><br><br>
                    Brand:<br><input type="text" name="brand" value="<%= editbrand %>" class="width45" <% if (isAuthenticated) { if (user.level !== "admin" || user.adminview !== true) { %> readonly="readonly" <% } } %> required><br><br><br>
                    Dupes:<br><select name="dupes" class="chosen-select" multiple>
                        <% for (i=0; i<polish.length; i++) { %>
                            <option value="<%=polish[i].id%>" <%if (editdupes.indexOf(polish[i].id) > -1) {%>selected<%}%>><%= polish[i].brand %> - <%= polish[i].name %></option>
                        <% } %>
                    </select>
                    <br><br><br>
                    <input type="submit" value="Submit" class="button">
                </form>
            </div>
        </section>
    </div>
</div>

<script>
    $(".chosen-select").chosen({width: "230px"});
</script>

<%- include('../layoutBottom'); %>