<%- include('../layoutTop'); %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    	<section>
            <div>
        		<form action="/polishedit/<%= editid %>/dupes" method="post">
    	     		<h3>Add dupes:</h3><br><br>
        			Name:<br>
                    <input type="text" name="name" value="<%= editname %>" class="width45" <% if (isAuthenticated) { if (user.level !== "admin" || user.adminview !== true) { %> readonly="readonly" <% } } %> required><br><br><br>
                    Brand:<br>
                    <input type="text" name="brand" value="<%= editbrand %>" class="width45" <% if (isAuthenticated) { if (user.level !== "admin" || user.adminview !== true) { %> readonly="readonly" <% } } %> required><br><br><br>
                    Dupes:<br>
                    <select multiple name="dupes" id="select-polish" style="width:300px">
                        <% for (i=0; i<editdupes.length; i++) { %>
                            <option value="<%=editdupes[i].id%>" selected><%= editdupes[i].brand %> - <%= editdupes[i].name %></option>
                        <% } %>
                    </select>
                    <br><br><br>
                    <input type="submit" value="Submit" class="button">
                </form>
            </div>
        </section>
    </div>
</div>

<script>
$("#select-polish").select2({
    placeholder: 'Type here to search',
    minimumInputLength: 2,
    ajax: {
        url: '/allpolish',
        type: 'POST',
        data: function(term) {
            return {
                term:term
            }
        },
        processResults: function (data) {
            return {
                results: $.map(data, function(obj) {
                    return { id: obj.polishid, text: obj.brandandname };
                })
            };
        }
    }
});
</script>

<%- include('../layoutBottom'); %>