<%- include('../layoutTop'); %>

<script src="/scripts/jquery.js"></script>
<script src="/scripts/jquery.mobile.custom.min.js"></script>
<script src="/scripts/collageplus.js"></script>
<script src="/scripts/jquery-editable/js/jquery-editable-poshytip.min.js"></script>
<link href="/scripts/jquery-editable/css/jquery-editable.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://unpkg.com/freezeframe@3.0.10/build/css/freezeframe_styles.min.css">
<script type="text/javascript" src="https://unpkg.com/freezeframe@3.0.10/build/js/freezeframe.pkgd.min.js"></script>

<script>
$(window).load(function () {
    if (window.matchMedia("(min-width: 600px)").matches) {
        $('.collage').collagePlus({
            'targetHeight' : 250,
            'allowPartialLastRow' : true,
        });
    }
});
</script>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
        <section>
            <div>
                <h2 style="display:inline-block"><a href="/brand/<%= pbrand %>"><%= pbrand %></a> - <%= pname %></h2><br><br>
            </div>
            <div id="biglayout">
                <div id="polish-wrap">
                    <div id="polish-left_col">
                        <% if (status === "owned") { %>
                            Owned (<a href="/removeown/<%= pid %>">remove</a>) | <span class="postflag" style="opacity:0.5"><a href="">&#128681</a></span>
                        <% } else if (status === "wanted") {%>
                            <a href="/addown/<%= pid %>">Add ownership</a> | Wishlist (<a href="/removewant/<%= pid %>">remove</a>) | <span class="postflag" style="opacity:0.5"><a href="">&#128681</a></span>
                        <% } else { %>
                            <a href="/addown/<%= pid %>">Add ownership</a> | <a href="/addwant/<%= pid %>">Add to wishlist</a> | <span class="postflag" style="opacity:0.5"><a href="">&#128681</a></span>
                        <% } %>
                        <div class="postbox"><br>
                            <form action="/polishid/<%=pid%>/flag" method="post">
                                <textarea name="message" cols="50" rows="5" placeholder="Please provide a reason for flagging/reporting this. Once submitted, an admin will review and take action." style="max-width:98%" required></textarea>
                                <br>
                                <input type="submit" value="Submit" class="button">
                            </form>
                        </div>
                        <br><br><br>
                        <% if (pswatch.length > 0) {%>
                            <img class="polishswatch" src="<%=pswatch%>" alt="Nail polish swatch of shade <%= pbrand %> <%= pname %>"><br><br>
                        <%}%>
                        <br>
                        <% if (isAuthenticated) { %>
                            <b>Code:</b> <a href="#" id="code" data-pk="1" class="editable" data-type="text" data-url="/polishedit/<%= pid %>/code" data-value="<%= pcode %>"><%= pcode %> <span title="Edit" class="edit-icon">&#9998;</span></a><br><br>
                            <b>Collection:</b> <a href="#" id="batch" data-pk="1" class="editable" data-type="text" data-url="/polishedit/<%= pid %>/batch" data-value="<%= pbatch %>"><%= pbatch %> <span title="Edit" class="edit-icon">&#9998;</span></a><br><br>
                            <% if (displaycolors == true) { %>
                                <b>Color:</b> <a href="#" id="color" data-pk="1" class="editablecolor" data-type="checklist" data-url="/polishedit/<%= pid %>/color" data-value="<%= pcolor %>" data-defaultValue="?" data-separator=","><%= pcolor.toString().replace(/,/g,", ") %> <span title="Edit" class="edit-icon">&#9998;</span></a><br><br>
                                <% if (isAuthenticated) {%><% if (user.adminview === true) { %>
                                    <b>A-Colors:</b> <%= pcolors2.toString().replace(/,/g,", ") %><br><br>
                                    <b>A-Cats:</b> <%= pcolors.toString().replace(/,/g,", ") %><br><br>
                                <% } %><% } %>
                            <% } %>
                            <b>Type:</b> <a href="#" id="type" data-pk="1" class="editabletype" data-type="checklist" data-url="/polishedit/<%= pid %>/type" data-value="<%= ptype %>" data-defaultValue="?" data-separator=","><%= ptype.toString().replace(/,/g,", ") %> <span title="Edit" class="edit-icon">&#9998;</span></a><br><br>
                        <% } else { %>
                            <b>Code:</b> <%= pcode %><br><br>
                            <b>Collection:</b> <%= pbatch %><br><br>
                            <% if (displaycolors == true) { %>
                                <b>Color:</b> <%= pcolor.toString().replace(/,/g,", ") %><br><br>
                            <% } %>
                            <b>Type:</b> <%= ptype.toString().replace(/,/g,", ") %>
                        <% } %>
                    </div>
                    <div id="polish-right_col">
                        <div class="slideshow">
                            <div class="slideButtons">
                                <span>(<%= numphotos %>)</span>&nbsp;&nbsp;
                                <span><a href="/photo/add/<%= pid %>">Add Photo</a></span>
                                <% if (numphotos > 0) { %>
                                    &nbsp;&nbsp;|&nbsp;&nbsp;<span><a href="/photo/edit/<%= pid %>">Edit</a></span>
                                <% } %>
                                <% if (numphotos > 1) { %>
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    <span class="prev"><a href="#">Prev</a></span>&nbsp;&nbsp;|&nbsp;&nbsp;
                                    <span class="next"><a href="#">Next</a></span>
                                <% } %>
                            </div>
                            <div class="gallery">
                                <% if (numphotos < 1) { %>
                                    <li><br><img src="/images/questionmark.png" alt=""><br></li>
                                <% } else { %>
                                    <% for (i=0; i<allphotos.length; i++) { %>
                                        <li><br><img src="<%= allphotos[i].location %>" alt="Nail polish swatch / manicure of shade <%= pbrand %> <%= pname %>"><br>
                                        <% if (allphotos[i].creditlink.length > 0) { %>
                                            <br>Credit: <a href="<%=allphotos[i].creditlink%>" target="_blank"><%if (allphotos[i].creditname.length > 0) {%><%=allphotos[i].creditname%><%} else {%>link<%}%></a></li>
                                        <%} else if (allphotos[i].creditname.length > 0) { %>
                                            <br>Credit: <%= allphotos[i].creditname %></li>
                                        <% } else {%>
                                            </li>
                                        <% } %>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="smalllayout">
                <% if (status === "owned") { %>
                    Owned (<a href="/removeown/<%= pid %>">remove</a>) | <span class="postflag" style="opacity:0.5"><a href="">&#128681</a></span>
                <% } else if (status === "wanted") {%>
                    <a href="/addown/<%= pid %>">Add ownership</a> | Wishlist (<a href="/removewant/<%= pid %>">remove</a>) | <span class="postflag" style="opacity:0.5"><a href="">&#128681</a></span>
                <% } else { %>
                    <a href="/addown/<%= pid %>">Add ownership</a> | <a href="/addwant/<%= pid %>">Add to wishlist</a> | <span class="postflag" style="opacity:0.5"><a href="">&#128681</a></span>
                <% } %>
                <div class="postbox"><br>
                    <form action="/polishid/<%=pid%>/flag" method="post">
                        <textarea name="message" cols="50" rows="5" placeholder="Please provide a reason for flagging/reporting this. Once submitted, an admin will review and take action." style="max-width:98%" required></textarea>
                        <br>
                        <input type="submit" value="Submit" class="button">
                    </form>
                </div>
                <br><br><br>
                <div class="slideshow">
                    <div class="slideButtons">
                        <span>(<%= numphotos %>)</span>&nbsp;&nbsp;
                        <span><a href="/photo/add/<%= pid %>">Add Photo</a></span>
                        <% if (numphotos > 0) { %>
                            &nbsp;&nbsp;|&nbsp;&nbsp;<span><a href="/photo/edit/<%= pid %>">Edit</a></span>
                        <% } %>
                        <% if (numphotos > 1) { %>
                            &nbsp;&nbsp;|&nbsp;&nbsp;
                            <span class="prev"><a href="#">Prev</a></span>&nbsp;&nbsp;|&nbsp;&nbsp;
                            <span class="next"><a href="#">Next</a></span>
                        <% } %>
                    </div>
                    <div class="gallery">
                        <% if (numphotos < 1) { %>
                            <li><br><img src="/images/questionmark.png" alt=""><br></li>
                        <% } else { %>
                            <% for (i=0; i<allphotos.length; i++) { %>
                                <li><br><img src="<%= allphotos[i].location %>" alt="Nail polish swatch / manicure of shade <%= pbrand %> <%= pname %>"><br>
                                <% if (allphotos[i].creditlink.length > 0) { %>
                                    <br>Credit: <a href="<%=allphotos[i].creditlink%>" target="_blank"><%if (allphotos[i].creditname.length > 0) {%><%=allphotos[i].creditname%><%} else {%>link<%}%></a></li>
                                <%} else if (allphotos[i].creditname.length > 0) { %>
                                    <br>Credit: <%= allphotos[i].creditname %></li>
                                <% } else {%>
                                    </li>
                                <% } %>
                            <% } %>
                        <% } %>
                    </div>
                </div>
                <br><br>
                <% if (pswatch.length > 0) {%>
                    <img class="polishswatch" src="<%=pswatch%>" alt="Nail polish swatch of shade <%= pbrand %> <%= pname %>"><br><br>
                <%}%>
                <br>
                <% if (isAuthenticated) { %>
                    <b>Code:</b> <a href="#" id="code" data-pk="1" class="editable" data-type="text" data-url="/polishedit/<%= pid %>/code" data-value="<%= pcode %>"><%= pcode %> <span title="Edit" class="edit-icon">&#9998;</span></a><br><br>
                    <b>Collection:</b> <a href="#" id="batch" data-pk="1" class="editable" data-type="text" data-url="/polishedit/<%= pid %>/batch" data-value="<%= pbatch %>"><%= pbatch %> <span title="Edit" class="edit-icon">&#9998;</span></a><br><br>
                    <% if (displaycolors == true) { %>
                        <b>Color:</b> <a href="#" id="color" data-pk="1" class="editablecolor" data-type="checklist" data-url="/polishedit/<%= pid %>/color" data-value="<%= pcolor %>" data-defaultValue="?" data-separator=","><%= pcolor.toString().replace(/,/g,", ") %> <span title="Edit" class="edit-icon">&#9998;</span></a><br><br>
                        <% if (isAuthenticated) {%><% if (user.adminview === true) { %>
                            <b>A-Colors:</b> <%= pcolors2.toString().replace(/,/g,", ") %><br><br>
                            <b>A-Cats:</b> <%= pcolors.toString().replace(/,/g,", ") %><br><br>
                        <% } %><% } %>
                    <% } %>
                    <b>Type:</b> <a href="#" id="type" data-pk="1" class="editabletype" data-type="checklist" data-url="/polishedit/<%= pid %>/type" data-value="<%= ptype %>" data-defaultValue="?" data-separator=","><%= ptype.toString().replace(/,/g,", ") %> <span title="Edit" class="edit-icon">&#9998;</span></a><br><br>
                <% } else { %>
                    <b>Code:</b> <%= pcode %><br><br>
                    <b>Collection:</b> <%= pbatch %><br><br>
                    <% if (displaycolors == true) { %>
                        <b>Color:</b> <%= pcolor.toString().replace(/,/g,", ") %><br><br>
                    <% } %>
                    <b>Type:</b> <%= ptype.toString().replace(/,/g,", ") %>
                <% } %>
            </div>
                <div id="container" class="clear">
                    <br><% if (isAuthenticated) { %>
                        <hr><br>
                        <h4 style="display:inline">Your Review:</h4> <i><a href="/review/edit/<%= pid %>"><span title="Edit" class="edit-icon">&#9998;</span></a></i><br><br>
                        <% if (review.length > 0 || rating.length > 0) { %>
                            <%if (rating >= 1) {%><img class="starpolish" src="/images/stars/<%=rating%>star.png" alt="<%=rating%> star rating"> - <%}%><%= review %>
                        <% } %>
                        <br><br><br>
                        <h4 style="display:inline">Your Notes:</h4> <i><a href="/notes/edit/<%= pid %>"><span title="Edit" class="edit-icon">&#9998;</span></a><br><br>(Notes are only visible to you.)</i><br><br>
                        <% if (notes.length > 0) { %>
                            <%= notes %><br><br>
                        <% } %>
                    <% } %>
                    <hr><br>
                    <h4 style="display:inline">User Reviews:</h4><br><br>
                    <% for (i=0; i<allreviews.length; i++) {%>
                        <% if (allreviews[i].review.length > 0) { %>
                            <%if (allreviews[i].rating >= 1) {%><img class="starpolish" src="/images/stars/<%=allreviews[i].rating%>star.png" alt="<%=allreviews[i].rating%> star rating"> - <%}%><%= allreviews[i].review %> - <a href="/profile/<%= allreviews[i].user.username %>"><%= allreviews[i].user.username %></a><br><br>
                        <% } %>
                    <% } %>
                    <br><br>
                    <h4 style="display:inline">User-Submitted Dupes:</h4><% if (isAuthenticated) { %> <i><a href="/polishedit/<%=pid%>/dupes"><span title="Edit" class="edit-icon">&#9998;</span></a></i><%}%><br>
                    <% for (i=0; i<pdupes.length; i++) { %>
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&#8226; <a href='/polish/<%= pdupes[i].brand.replace(/ /g,"_") %>/<%= pdupes[i].name.replace(/ /g,"_") %>'><%= pdupes[i].brand %> - <%= pdupes[i].name %></a>
                    <% } %>
                    <% if (checkins.length > 0) { %>
                        <br><br><hr><br><h4>Recent Fresh Coats:</h4><br>
                        <div id="biglayout">
                            <div class="collage">
                                <% for (i=0; i<checkins.length; i++) { %>
                                    <% if (checkins[i].pendingdelete === false) { %>
                                        <a href="/freshcoats/<%=checkins[i].id%>"><img src="<%= checkins[i].photo.split('.').slice(0, -1).join('.') %>t.jpeg" alt="" id="collagephoto"</a>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                        <div id="smalllayout">
                            <div class="collage">
                                <% for (i=0; i<checkins.length; i++) { %>
                                    <% if (checkins[i].pendingdelete === false) { %>
                                        <div class='collagephoto'><a href="/freshcoats/<%=checkins[i].id%>"><img src="<%= checkins[i].photo.split('.').slice(0, -1).join('.') %>t.jpeg" alt="" id="collagephoto"></a></div>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                    <% } %>
                    <% if (isAuthenticated) {%><% if (user.adminview === true) { %><br><br><%=pid%><%}%><%}%>
                </div>
            </section>
        </section>
    </div>
</div>


<script>
var speed = 100;
$(".prev").click(function() {
    var now = $(this).parent().next("div.gallery").children(":visible"),
        last = $(this).parent().next("div.gallery").children(":last"),
        prev = now.prev();
        prev = prev.index() == -1 ? last : prev;
    now.fadeOut(speed, function() {prev.fadeIn(speed);});
});

$(".next").click(function() {
    var now = $(this).parent().next("div.gallery").children(':visible'),
        first = $(this).parent().next("div.gallery").children(':first'),
        next = now.next();
        next = next.index() == -1 ? first : next;
    now.fadeOut(speed, function() {next.fadeIn(speed);});
});

$.fn.editable.defaults.mode = 'inline';
$(document).ready(function() {
    $('.editable').editable({
        emptytext: "?",
        autotext: "never"
    });
    $(function(){
        $('.editabletype').editable({
            source: <%- JSON.stringify(types)%>
        });
    });
    $(function(){
        $('.editablecolor').editable({
            source: <%- JSON.stringify(colors)%>
        });
    });
});

$(".postflag").click(function(){
    $(this).siblings(".postbox").show();
    return false;
});

$('.freezeframe').freezeframe({
    overlay: true,
});
</script>

<%- include('../layoutBottom'); %>