<%- include('../layoutTop'); %>

<script>
$(window).load(function () {
    $('.collage').collagePlus({
        'targetHeight' : 250,
        'allowPartialLastRow' : true,
    });
});
</script>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
        <section>
            <div>
                <h2 style="display:inline-block"><a href="/brand/<%= pbrand %>"><%= pbrand %></a> - <%= pname %></h2><br><br>
            </div>
            <div id="biglayout">
                <div id="polish-wrap">
                    <div id="polish-left_col">
                        <% if (status === "owned") { %>
                            Owned (<a href="/removeown/<%= pid %>">remove</a>) | <a href="/polishid/<%=pid%>/flag">Flag polish</a>
                        <% } else if (status === "wanted") {%>
                            Wishlist (<a href="/removewant/<%= pid %>">remove</a>) | <a href="/addown/<%= pid %>">Add ownership</a> | <a href="/polishid/<%=pid%>/flag">Flag polish</a>
                        <% } else { %>
                            <a href="/addown/<%= pid %>">Add ownership</a> | <a href="/addwant/<%= pid %>">Add to wishlist</a> | <a href="/polishid/<%=pid%>/flag">Flag polish</a>
                        <% } %>
                        <br><br><br>
                        <% if (pswatch.length > 0) {%>
                            <img class="polishswatch" src="<%=pswatch%>"/><br><br>
                        <%}%>
                        <br>
                        <% if (isAuthenticated) { %>
                            <b>Code:</b> <a href="#" id="code" data-pk="1" class="editable" data-type="text" data-url="/polishedit/<%= pid %>/code"><% if (pcode.length > 0) {%><%= pcode %><%}else{%>?<%}%></a><br><br>
                            <b>Collection:</b> <a href="#" id="batch" data-pk="1" class="editable" data-type="text" data-url="/polishedit/<%= pid %>/batch"><% if (pbatch.length > 0) {%><%= pbatch %><%}else{%>?<%}%></a><br><br>
                            <b>Color:</b> <a href="#" id="colorcat" data-pk="1" class="editablecolorcat" data-type="checklist" data-url="/polishedit/<%= pid %>/colorcat" data-value="<%= pcolorcat %>" data-defaultValue="?" data-separator=","><% if (pcolorcat.length > 0) {%><%= pcolorcat.replace(/,/g,", ") %><%} else {%>?<%}%></a><br><br>
                            <b>Type:</b> <a href="#" id="type" data-pk="1" class="editabletype" data-type="checklist" data-url="/polishedit/<%= pid %>/type" data-value="<%= ptype %>" data-defaultValue="?" data-separator=","><% if (ptype.length > 0) {%><%= ptype.replace(/,/g,", ") %><%} else {%>?<%}%></a><br><br>
                            <span class="smallfont"><i>(Click value to edit polish information.)</i></span>
                        <% } else { %>
                            <b>Code:</b> <%= pcode %><br><br>
                            <b>Collection:</b> <%= pbatch %><br><br>
                            <b>Color:</b> <%= pcolorcat.replace(/,/g,", ") %><br><br>
                            <b>Type:</b> <%= ptype.replace(/,/g,", ") %>
                        <% } %>
                    </div>
                    <div id="polish-right_col">
                        <div class="slideshow">
                            <div class="slideButtons">
                                <span>(<%= numphotos %>)</span>&nbsp;&nbsp;
                                <span><a href="/photo/add/<%= pid %>">Add Photo</a></span>
                                <% if (numphotos > 0) { %>
                                    &nbsp;&nbsp;|&nbsp;&nbsp;<span><a href="/photo/edit/<%= pid %>">Edit</a></span>
                                <% } %>
                                <% if (numphotos > 1) { %>
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    <span class="prev"><a href="#">Prev</a></span>&nbsp;&nbsp;|&nbsp;&nbsp;
                                    <span class="next"><a href="#">Next</a></span>
                                <% } %>
                            </div>
                            <div class="gallery">
                                <% if (numphotos < 1) { %>
                                    <li><br><img src="/images/questionmark.png"><br></li>
                                <% } else { %>
                                    <% for (i=0; i<allphotos.length; i++) { %>
                                        <li><br><img src="<%= allphotos[i].location %>"><br>
                                        <% if (allphotos[i].creditlink.length > 0) { %>
                                            <br>Credit: <a href="<%=allphotos[i].creditlink%>" target="_blank"><%if (allphotos[i].creditname.length > 0) {%><%=allphotos[i].creditname%><%} else {%>link<%}%></a></li>
                                        <%} else if (allphotos[i].creditname.length > 0) { %>
                                            <br>Credit: <%= allphotos[i].creditname %></li>
                                        <% } else {%>
                                            </li>
                                        <% } %>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="smalllayout">
                <% if (status === "owned") { %>
                    Owned (<a href="/removeown/<%= pid %>">remove</a>) | <a href="/polishid/<%=pid%>/flag">Flag polish</a><br><br><br>
                <% } else if (status === "wanted") {%>
                    Wishlist (<a href="/removewant/<%= pid %>">remove</a>) | <a href="/addown/<%= pid %>">Add ownership</a> | <a href="/polishid/<%=pid%>/flag">Flag polish</a><br><br><br>
                <% } else { %>
                    <a href="/addown/<%= pid %>">Add ownership</a> | <a href="/addwant/<%= pid %>">Add to wishlist</a> | <a href="/polishid/<%=pid%>/flag">Flag polish</a><br><br><br>
                <% } %>
                <div class="slideshow">
                    <div class="slideButtons">
                        <span>(<%= numphotos %>)</span>&nbsp;&nbsp;
                        <span><a href="/photo/add/<%= pid %>">Add Photo</a></span>
                        <% if (numphotos > 0) { %>
                            &nbsp;&nbsp;|&nbsp;&nbsp;<span><a href="/photo/edit/<%= pid %>">Edit</a></span>
                        <% } %>
                        <% if (numphotos > 1) { %>
                            &nbsp;&nbsp;|&nbsp;&nbsp;
                            <span class="prev"><a href="#">Prev</a></span>&nbsp;&nbsp;|&nbsp;&nbsp;
                            <span class="next"><a href="#">Next</a></span>
                        <% } %>
                    </div>
                    <div class="gallery">
                        <% if (numphotos < 1) { %>
                            <li><br><img src="/images/questionmark.png"><br></li>
                        <% } else { %>
                            <% for (i=0; i<allphotos.length; i++) { %>
                                <li><br><img src="<%= allphotos[i].location %>"><br>
                                <% if (allphotos[i].creditlink.length > 0) { %>
                                    <br>Credit: <a href="<%=allphotos[i].creditlink%>" target="_blank"><%if (allphotos[i].creditname.length > 0) {%><%=allphotos[i].creditname%><%} else {%>link<%}%></a></li>
                                <%} else if (allphotos[i].creditname.length > 0) { %>
                                    <br>Credit: <%= allphotos[i].creditname %></li>
                                <% } else {%>
                                    </li>
                                <% } %>
                            <% } %>
                        <% } %>
                    </div>
                </div>
                <br><br>
                <% if (pswatch.length > 0) {%>
                    <img class="polishswatch" src="<%=pswatch%>"/><br><br>
                <%}%>
                <br>
                <% if (isAuthenticated) { %>
                    <b>Code:</b> <a href="#" id="code" data-pk="1" class="editable" data-type="text" data-url="/polishedit/<%= pid %>/code"><% if (pcode.length > 0) {%><%= pcode %><%}else{%>?<%}%></a><br><br>
                    <b>Collection:</b> <a href="#" id="batch" data-pk="1" class="editable" data-type="text" data-url="/polishedit/<%= pid %>/batch"><% if (pbatch.length > 0) {%><%= pbatch %><%}else{%>?<%}%></a><br><br>
                    <b>Color:</b> <a href="#" id="colorcat" data-pk="1" class="editablecolorcat" data-type="checklist" data-url="/polishedit/<%= pid %>/colorcat" data-value="<%= pcolorcat %>" data-defaultValue="?" data-separator=","><% if (pcolorcat.length > 0) {%><%= pcolorcat.replace(/,/g,", ") %><%} else {%>?<%}%></a><br><br>
                    <b>Type:</b> <a href="#" id="type" data-pk="1" class="editabletype" data-type="checklist" data-url="/polishedit/<%= pid %>/type" data-value="<%= ptype %>" data-defaultValue="?" data-separator=","><% if (ptype.length > 0) {%><%= ptype.replace(/,/g,", ") %><%} else {%>?<%}%></a><br><br>
                    <span class="smallfont"><i>(Click value to edit polish information.)</i></span>
                <% } else { %>
                    <b>Code:</b> <%= pcode %><br><br>
                    <b>Collection:</b> <%= pbatch %><br><br>
                    <b>Color:</b> <%= pcolorcat.replace(/,/g,", ") %><br><br>
                    <b>Type:</b> <%= ptype.replace(/,/g,", ") %>
                <% } %>
            </div>
                <div id="container" class="clear">
                        <br><% if (isAuthenticated) { %>
                        <hr><br>
                        <h4 style="display:inline">Your Review:</h4> <i><a href="/review/edit/<%= pid %>">Edit</a></i><br><br>
                        <% if (review.length > 0 || rating.length > 0) { %>
                            <%if (rating >= 1) {%><img class="staradjust" src="/images/stars/<%=rating%>star.png"/> - <%}%><%= review %>
                        <% } %>
                        <br><br><br>
                        <h4 style="display:inline">Your Notes:</h4> <i><a href="/notes/edit/<%= pid %>">Edit</a><br><br>(Notes are only visible to you.)</i><br><br>
                        <% if (notes.length > 0) { %>
                            <%= notes %><br><br>
                        <% } %>
                    <% } %>
                    <hr><br>
                    <h4 style="display:inline">User Reviews:</h4><br><br>
                    <% for (i=0; i<allreviews.length; i++) {%>
                        <% if (allreviews[i].review.length > 0) { %>
                            <%if (allreviews[i].rating >= 1) {%><img class="staradjust" src="/images/stars/<%=allreviews[i].rating%>star.png"/> - <%}%><%= allreviews[i].review %> - <a href="/profile/<%= allreviews[i].user.username %>"><%= allreviews[i].user.username %></a><br><br>
                        <% } %>
                    <% } %>
                    <br><br>
                    <h4 style="display:inline">User-Submitted Dupes:</h4> <i><a href="/polishedit/<%=pid%>/dupes">Edit</a></i></i><br>
                    <% for (i=0; i<pdupes.length; i++) { %>
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&#8226; <a href='/polish/<%= pdupes[i].brand.replace(/ /g,"_") %>/<%= pdupes[i].name.replace(/ /g,"_") %>'><%= pdupes[i].brand %> - <%= pdupes[i].name %></a>
                    <% } %>
                </div>
                <div id="biglayout">
                    <% if (checkins.length > 0) { %>
                        <br><br><hr><br><h4>Recent Check-Ins:</h4><br>
                        <div class="collage">
                            <% for (i=0; i<checkins.length; i++) { %>
                                <% if (checkins[i].pendingdelete === false) {%>
                                    <a href="/checkin/<%=checkins[i].id%>"><img src="<%= checkins[i].photo %>"></a>
                                <% } %>
                            <% } %>
                        </div>
                    <% } %>
                </div>
                <div id="smalllayout">
                    <% if (checkins.length > 0) { %>
                        <br><br><br><hr><br><h4>Recent Check-Ins:</h4><br>
                        <div>
                            <% for (i=0; i<checkins.length; i++) { %>
                                <% if (checkins[i].pendingdelete === false) {%>
                                    <a href="/checkin/<%=checkins[i].id%>"><img style="max-width:100%" src="<%= checkins[i].photo %>"></a>
                                <% } %>
                            <% } %>
                        </div>
                    <% } %>
                </div>
                <% if (isAuthenticated) {%><% if (user.adminview === true) { %><br><br><%=pid%><%}%><%}%>
            </section>
        </section>
    </div>
</div>


<script>
var speed = 100;
    $(".prev").click(function() {
        var now = $(this).parent().next("div.gallery").children(":visible"),
            last = $(this).parent().next("div.gallery").children(":last"),
            prev = now.prev();
            prev = prev.index() == -1 ? last : prev;
        now.fadeOut(speed, function() {prev.fadeIn(speed);});
    });

    $(".next").click(function() {
        var now = $(this).parent().next("div.gallery").children(':visible'),
            first = $(this).parent().next("div.gallery").children(':first'),
            next = now.next();
            next = next.index() == -1 ? first : next;
        now.fadeOut(speed, function() {next.fadeIn(speed);});
    });

    $(document).on("pageinit", function(){
        $(".gallery").on("swipeleft", function() {
            $(this).parent().children(".next").trigger('click');
        });

        $(".gallery").on("swiperight", function() {
            $(this).parent().children(".prev").trigger('click');
        });
    });

    $.fn.editable.defaults.mode = 'inline';
    $(document).ready(function() {
        $('.editable').editable({});
        $(function(){
            $('.editablecolorcat').editable({
                source: <%- JSON.stringify(colors)%>
            });
        });
        $(function(){
            $('.editabletype').editable({
                source: <%- JSON.stringify(types)%>
            });
        });
    });
</script>

<%- include('../layoutBottom'); %>