<% include ../layoutTop %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
        <section>
            <div>
                <h2><%= pbrand %> - <%= pname %></h2><br><br>
                <!--<% if (isAuthenticated()) {%><% if (user.level === "admin") { %><%=pid%><br><br><%}%><%}%>-->
            </div>
            <div id="biglayout">
                <div id="polish-wrap">
                    <div id="polish-left_col">
                        <% if (status === "owned") { %>
                            Owned (<a href="/removeown/<%= pid %>">remove</a>) | <a href="/polishid/<%=pid%>/flag">Flag polish</a>
                        <% } else if (status === "wanted") {%>
                            Wishlist (<a href="/removewant/<%= pid %>">remove</a>) | <a href="/addown/<%= pid %>">Add ownership</a> | <a href="/polishid/<%=pid%>/flag">Flag polish</a>
                        <% } else { %>
                            <a href="/addown/<%= pid %>">Add ownership</a> | <a href="/addwant/<%= pid %>">Add to wishlist</a> | <a href="/polishid/<%=pid%>/flag">Flag polish</a>
                        <% } %>
                        <br><br><br>
                        <% if (pswatch.length > 0) {%>
                            <img class="polishswatch" src="<%=pswatch%>"/><br><br>
                        <%}%>
                        <br>
                        <% if (isAuthenticated()) { %>
                            <b>Code:</b> <a href="#" id="code" data-pk="1" class="editable" data-type="text" data-url="/polishedit/<%= pid %>/code"><% if (pcode.length > 0) {%><%= pcode %><%}else{%>?<%}%></a><br><br>
                            <b>Collection:</b> <a href="#" id="batch" data-pk="1" class="editable" data-type="text" data-url="/polishedit/<%= pid %>/batch"><% if (pbatch.length > 0) {%><%= pbatch %><%}else{%>?<%}%></a><br><br>
                            <b>Color:</b> <a href="#" id="colorcat" data-pk="1" class="editablecolorcat" data-type="checklist" data-url="/polishedit/<%= pid %>/colorcat" data-value="<%= pcolorcat %>" data-defaultValue="?" data-separator=","><% if (pcolorcat.length > 0) {%><%= pcolorcat.replace(/,/g,", ") %><%} else {%>?<%}%></a><br><br>
                            <b>Type:</b> <a href="#" id="type" data-pk="1" class="editabletype" data-type="checklist" data-url="/polishedit/<%= pid %>/type" data-value="<%= ptype %>" data-defaultValue="?" data-separator=","><% if (ptype.length > 0) {%><%= ptype.replace(/,/g,", ") %><%} else {%>?<%}%></a><br><br>
                            <b>Indie:</b> <a href="#" id="indie" class="editableindie" data-pk="1" data-type="select" data-url="/polishedit/<%= pid %>/indie" data-value="<%= pindie %>"><%if (pindie === "on") {%>yes<%}else if (pindie === "off") {%>no<%}%></a><br><br><span class="smallfont"><i>(Click value to edit polish information.)</i></span>
                        <% } else { %>
                            <b>Code:</b> <%= pcode %><br><br>
                            <b>Collection:</b> <%= pbatch %><br><br>
                            <b>Color:</b> <%= pcolorcat.replace(/,/g,", ") %><br><br>
                            <b>Type:</b>
                                <%= ptype.replace(/,/g,", ") %>
                            <br><br><b>Indie:</b> <%if (pindie === "on") {%>yes<%}else if (pindie === "off") {%>no<%}%>
                        <% } %>
                        <br><br><br><br>
                        <% if (isAuthenticated()) { %>
                            <% if (user.country === 'CAN') { %>
                                <a href="http://www.amazon.ca/s/?_encoding=UTF8&camp=15121&creative=390961&field-keywords=<%= linkbrand %>%20<%= linkname %>&linkCode=ur2&tag=lacqutrack00-20&url=search-alias%3Daps">View on Amazon</a><img src="https://ir-ca.amazon-adsystem.com/e/ir?t=lacqutrack00-20&l=ur2&o=15" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /><br><br>
                                <a href="http://www.nailpolishcanada.com/search.php?search_query=<%=linkbrand%>%20<%=linkname%>">View on Nail Polish Canada</a>
                            <% } else {%>
                                <a href="http://www.amazon.com/gp/search?ie=UTF8&camp=1789&creative=9325&index=aps&keywords=<%= linkbrand %>%20<%= linkname %>&linkCode=ur2&tag=lacqutrack-20">View on Amazon</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=lacqutrack-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
                            <% } %>
                        <% } else { %>
                            <a href="http://www.amazon.com/gp/search?ie=UTF8&camp=1789&creative=9325&index=aps&keywords=<%= linkbrand %>%20<%= linkname %>&linkCode=ur2&tag=lacqutrack-20">View on Amazon</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=lacqutrack-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
                        <% } %>
                    </div>
                    <div id="polish-right_col">
                        <div class="slideshow">
                            <div class="slideButtons">
                                <span>(<%= numphotos %>)</span>&nbsp;&nbsp;
                                <span><a href="/photo/add/<%= pid %>">Add Photo</a></span>
                                <% if (numphotos > 0) { %>
                                    &nbsp;&nbsp;|&nbsp;&nbsp;<span><a href="/photo/edit/<%= pid %>">Edit</a></span>
                                <% } %>
                                <% if (numphotos > 1) { %>
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    <span class="prev"><a href="#">Prev</a></span>&nbsp;&nbsp;|&nbsp;&nbsp;
                                    <span class="next"><a href="#">Next</a></span>
                                <% } %>
                            </div>
                            <div class="gallery">
                                <% if (numphotos < 1) { %>
                                    <li><br><img src="/images/questionmark.png"><br></li>
                                <% } else { %>
                                    <% for (i=0; i<allphotos.length; i++) { %>
                                        <li><br><img src="<%= allphotos[i].location %>"><br>
                                        <% if (allphotos[i].creditlink.length > 0) { %>
                                            <br>Credit: <a href="<%=allphotos[i].creditlink%>" target="_blank"><%if (allphotos[i].creditname.length > 0) {%><%=allphotos[i].creditname%><%} else {%>link<%}%></a></li>
                                        <%} else if (allphotos[i].creditname.length > 0) { %>
                                            <br>Credit: <%= allphotos[i].creditname %></li>
                                        <% } else {%>
                                            </li>
                                        <% } %>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="smalllayout">
                <% if (status === "owned") { %>
                    Owned (<a href="/removeown/<%= pid %>">remove</a>)
                    <br><br><a href="/polishid/<%=pid%>/flag">Flag polish</a><br><br><br>
                <% } else if (status === "wanted") {%>
                    Wishlist (<a href="/removewant/<%= pid %>">remove</a>) | <a href="/addown/<%= pid %>">Add ownership</a>
                    <br><br><a href="/polishid/<%=pid%>/flag">Flag polish</a><br><br><br>
                <% } else { %>
                    <a href="/addown/<%= pid %>">Add ownership</a> | <a href="/addwant/<%= pid %>">Add to wishlist</a>
                    <br><br><a href="/polishid/<%=pid%>/flag">Flag polish</a><br><br><br>
                <% } %>
                <div class="slideshow">
                    <div class="slideButtons">
                        <span>(<%= numphotos %>)</span>&nbsp;&nbsp;
                        <span><a href="/photo/add/<%= pid %>">Add Photo</a></span>
                        <% if (numphotos > 0) { %>
                            &nbsp;&nbsp;|&nbsp;&nbsp;<span><a href="/photo/edit/<%= pid %>">Edit</a></span>
                        <% } %>
                        <% if (numphotos > 1) { %>
                            &nbsp;&nbsp;|&nbsp;&nbsp;
                            <span class="prev"><a href="#">Prev</a></span>&nbsp;&nbsp;|&nbsp;&nbsp;
                            <span class="next"><a href="#">Next</a></span>
                        <% } %>
                    </div>
                    <div class="gallery">
                        <% if (numphotos < 1) { %>
                            <li><br><img src="/images/questionmark.png"><br></li>
                        <% } else { %>
                            <% for (i=0; i<allphotos.length; i++) { %>
                                <li><br><img src="<%= allphotos[i].location %>"><br>
                                <% if (allphotos[i].creditlink.length > 0) { %>
                                    <br>Credit: <a href="<%=allphotos[i].creditlink%>" target="_blank"><%if (allphotos[i].creditname.length > 0) {%><%=allphotos[i].creditname%><%} else {%>link<%}%></a></li>
                                <%} else if (allphotos[i].creditname.length > 0) { %>
                                    <br>Credit: <%= allphotos[i].creditname %></li>
                                <% } else {%>
                                    </li>
                                <% } %>
                            <% } %>
                        <% } %>
                    </div>
                </div>
                <br><br>
                <% if (pswatch.length > 0) {%>
                    <img class="polishswatch" src="<%=pswatch%>"/><br><br>
                <%}%>
                <br>
                <% if (isAuthenticated()) { %>
                    <b>Code:</b> <a href="#" id="code" data-pk="1" class="editable" data-type="text" data-url="/polishedit/<%= pid %>/code"><% if (pcode.length > 0) {%><%= pcode %><%}else{%>?<%}%></a><br><br>
                    <b>Collection:</b> <a href="#" id="batch" data-pk="1" class="editable" data-type="text" data-url="/polishedit/<%= pid %>/batch"><% if (pbatch.length > 0) {%><%= pbatch %><%}else{%>?<%}%></a><br><br>
                    <b>Color:</b> <a href="#" id="colorcat" data-pk="1" class="editablecolorcat" data-type="checklist" data-url="/polishedit/<%= pid %>/colorcat" data-value="<%= pcolorcat %>" data-defaultValue="?" data-separator=","><% if (pcolorcat.length > 0) {%><%= pcolorcat.replace(/,/g,", ") %><%} else {%>?<%}%></a><br><br>
                    <b>Type:</b> <a href="#" id="type" data-pk="1" class="editabletype" data-type="checklist" data-url="/polishedit/<%= pid %>/type" data-value="<%= ptype %>" data-defaultValue="?" data-separator=","><% if (ptype.length > 0) {%><%= ptype.replace(/,/g,", ") %><%} else {%>?<%}%></a><br><br>
                    <b>Indie:</b> <a href="#" id="indie" data-pk="1" class="editableindie" data-type="select" data-url="/polishedit/<%= pid %>/indie" data-value="<%= pindie %>"><%if (pindie === "on") {%>yes<%}else if (pindie === "off") {%>no<%}%></a><br><br><span class="smallfont"><i>(Click value to edit polish information.)</i></span>
                <% } else { %>
                    <b>Code:</b> <%= pcode %><br><br>
                    <b>Collection:</b> <%= pbatch %><br><br>
                    <b>Color:</b> <%= pcolorcat.replace(/,/g,", ") %><br><br>
                    <b>Type:</b>
                        <%= ptype.replace(/,/g,", ") %>
                    <br><br><b>Indie:</b> <%if (pindie === "on") {%>yes<%}else if (pindie === "off") {%>no<%}%>
                <% } %>
                <br><br><br>
                <% if (isAuthenticated()) { %>
                    <% if (user.country === 'CAN') { %>
                        <a href="http://www.amazon.ca/s/?_encoding=UTF8&camp=15121&creative=390961&field-keywords=<%= linkbrand %>%20<%= linkname %>&linkCode=ur2&tag=lacqutrack00-20&url=search-alias%3Daps">View on Amazon</a><img src="https://ir-ca.amazon-adsystem.com/e/ir?t=lacqutrack00-20&l=ur2&o=15" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /><br><br>
                        <a href="http://www.nailpolishcanada.com/search.php?search_query=<%=linkbrand%>%20<%=linkname%>">View on Nail Polish Canada</a>
                    <% } else {%>
                        <a href="http://www.amazon.com/gp/search?ie=UTF8&camp=1789&creative=9325&index=aps&keywords=<%= linkbrand %>%20<%= linkname %>&linkCode=ur2&tag=lacqutrack-20">View on Amazon</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=lacqutrack-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
                    <% } %>
                <% } else { %>
                    <a href="http://www.amazon.com/gp/search?ie=UTF8&camp=1789&creative=9325&index=aps&keywords=<%= linkbrand %>%20<%= linkname %>&linkCode=ur2&tag=lacqutrack-20">View on Amazon</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=lacqutrack-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
                <% } %>
            </div>
            </section>
            <div id="container" class="clear">
                <section>
                <hr><br>
                <% if (userreview.length > 0 || notes.length > 0 || rating.length > 0) { %>
                    <i><a href="/review/edit/<%= pid %>">Edit your review</a></i><br><br><br>
                    <h5>Your Rating:</h5><br><%if (rating >= 1) {%><img src="/images/stars/<%=rating%>star.png"/><%} else {%>&nbsp;<%}%><br><br><br><br>
                    <h5>Your Review:</h5><br><%= userreview %><br><br><br><br>
                    <h5>Your Notes:</h5><br><%= notes %>
                <% } else {%>
                <i><a href="/review/edit/<%= pid %>">Add a review or personal notes for this polish.</a></i>
                <% } %>
                <% if (allreviews.length > 0 || pdupes.length > 0) { %>
                <br><br><hr><br><br>
                    <% if (allreviews.length > 0) { %>
                        <h5>All User Reviews:</h5><br>
                        <% for (i=0; i<allreviews.length; i++) {%>
                            <% if (allreviews[i].userreview.length > 0) { %>
                                <%if (allreviews[i].rating >= 1) {%><img class="staradjust" src="/images/stars/<%=allreviews[i].rating%>star.png"/> - <%}%><%= allreviews[i].userreview %> - <a href="/profile/<%= allreviews[i].user.username %>"><%= allreviews[i].user.username %></a><br><br>
                            <% } %>
                        <% } %>
                    <br><br>
                    <% } %>
                    <% if (pdupes.length > 0) { %>
                        <h5 style="display:inline">User-Submitted Dupes:</h5>
                        <i><a href="/polishedit/<%=pid%>/dupes">Edit</a></i>
                        <p style="white-space: pre;"><%- pdupes %></p>
                    <% } else {%>
                        <br><br><br><a href="/polishedit/<%=pid%>/dupes"><i>Add dupes for this polish.</i></a>
                    <% } %>
                <% } else {%>
                    <br><br><br><a href="/polishedit/<%=pid%>/dupes"><i>Add dupes for this polish.</i></a>
                <% } %>
            </div>
        </section>
    </div>
</div>


<script>
var speed = 100;
    $(".prev").click(function() {
        var now = $(this).parent().next("div.gallery").children(":visible"),
            last = $(this).parent().next("div.gallery").children(":last"),
            prev = now.prev();
            prev = prev.index() == -1 ? last : prev;
        now.fadeOut(speed, function() {prev.fadeIn(speed);});
    });

    $(".next").click(function() {
        var now = $(this).parent().next("div.gallery").children(':visible'),
            first = $(this).parent().next("div.gallery").children(':first'),
            next = now.next();
            next = next.index() == -1 ? first : next;
        now.fadeOut(speed, function() {next.fadeIn(speed);});
    });

    $(document).on("pageinit", function(){
        $(".gallery").on("swipeleft", function() {
            $(this).parent().children(".next").trigger('click');
        });

        $(".gallery").on("swiperight", function() {
            $(this).parent().children(".prev").trigger('click');
        });
    });

    $.fn.editable.defaults.mode = 'inline';
    $(document).ready(function() {
        $('.editable').editable({});
        $(function(){
            $('.editablecolorcat').editable({
                source: [
                    {value: 'black', text: 'black'},
                    {value: 'blue', text: 'blue'},
                    {value: 'brown', text: 'brown'},
                    {value: 'clear', text: 'clear'},
                    {value: 'copper', text: 'copper'},
                    {value: 'coral', text: 'coral'},
                    {value: 'gold', text: 'gold'},
                    {value: 'green', text: 'green'},
                    {value: 'grey', text: 'grey'},
                    {value: 'multi', text: 'multi'},
                    {value: 'nude', text: 'nude'},
                    {value: 'orange', text: 'orange'},
                    {value: 'pink', text: 'pink'},
                    {value: 'purple', text: 'purple'},
                    {value: 'red', text: 'red'},
                    {value: 'silver', text: 'silver'},
                    {value: 'teal', text: 'teal'},
                    {value: 'white', text: 'white'},
                    {value: 'yellow', text: 'yellow'}
                ]
            });
        });
        $(function(){
            $('.editabletype').editable({
                source: [
                    {value: 'blackened', text: 'blackened'},
                    {value: 'crackle', text: 'crackle'},
                    {value: 'crelly', text: 'crelly'},
                    {value: 'creme', text: 'creme'},
                    {value: 'duochrome', text: 'duochrome'},
                    {value: 'flakie', text: 'flakie'},
                    {value: 'fleck', text: 'glass fleck'},
                    {value: 'foil', text: 'foil'},
                    {value: 'frost', text: 'frost'},
                    {value: 'gel', text: 'gel'},
                    {value: 'glitter', text: 'glitter'},
                    {value: 'glow', text: 'glow in the dark'},
                    {value: 'holo', text: 'holo'},
                    {value: 'jelly', text: 'jelly'},
                    {value: 'magnetic', text: 'magnetic'},
                    {value: 'matte', text: 'matte'},
                    {value: 'metallic', text: 'metallic'},
                    {value: 'multichrome', text: 'multichrome'},
                    {value: 'neon', text: 'neon'},
                    {value: 'pen', text: 'pen'},
                    {value: 'scented', text: 'scented'},
                    {value: 'sheer', text: 'sheer'},
                    {value: 'shimmer', text: 'shimmer'},
                    {value: 'striper', text: 'striper'},
                    {value: 'texture', text: 'texture'},
                    {value: 'thermal', text: 'thermal'},
                    {value: 'top/base', text: 'top/base coat'},
                    {value: 'uv', text: 'UV color change'}
                ]
            });
        });
        $(function(){
            $('.editableindie').editable({
                source: [
                    {value: 'off', text: 'no'},
                    {value: 'on', text: 'yes'}
                ]
            });
        });
    });
</script>

<% include ../layoutBottom %>