<%- include('../layoutTop'); %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
        <form action="/blog/<%= postid %>/edit" method="post">
            <h3>Edit your post:</h3><br><br>
                Title:<br><input type="text" name="posttitle" class="width53" value="<%=posttitle%>" required><br><br><br>
                Post:<br><textarea type="text" class="markItUp" name="postmessage" required><%=postmessage%></textarea><br><br>
                <input type="submit" value="Submit" class="button">
        </form>
    </section>
    </div>
</div>

<%- include('../layoutBottom'); %>